#content
  != self.partial('@common.blocks.navbar.logo_apps')

  .layout__container.container-fluid.space-top
    if self.wrongpass
      .alert.alert-warning
        != self.t('wrong_pass')

    .row
      .col-md-6.col-sm-8.m-auto
        .card
          form.card-body(data-on-submit='users.auth.login.by_email_show:submit')
            .mb-3
              label.form-label(for='secret_key_or_code')= self.t('message')
              input.form-control(
                id='secret_key_or_code'
                type='number'
                name='secret_key_or_code'
                autocapitalize='off'
                autocorrect='off'
                autocomplete='off'
                spellcheck='false'
                data-bind='css: { "is-invalid": error }'
              )
              // ko if: error
              .invalid-feedback(data-bind='text: error')
              // /ko

            button.btn.btn-primary(type='submit')= self.t('submit')
