- self.add_raw_data('action', 'login')

#content
  != self.partial('@common.blocks.navbar.logo_apps')

  .layout__container.container-fluid.space-top
    .row
      .col-md-6.col-sm-8.m-auto
        .card

          .card-header.d-flex.justify-content-between.align-items-center
            h1.h3.mb-0= self.t('title')
            a(href=self.link_to('users.auth.register.show'))
              = self.t('register')

          form.card-body(data-on-submit='users.auth.login.plain_exec')
            //- Message to show on error
            .form-group(data-bind='visible: error', style='display: none')
              p.text-danger(data-bind='text: error')

            if self.redirect_id
              input(type='hidden', name='redirect_id', value=self.redirect_id)

            if self.oauth && Object.keys(self.oauth).length
              .form-group
                != self.partial('@common.blocks.oauth_buttons')
                small.form-text.text-muted
                  =self.t('oauth_info')

            .form-group
              label(for='login_email_or_nick')= self.t('email')
              input.form-control(
                id='login_email_or_nick'
                name='email_or_nick'
                type='text'
                placeholder=self.t('email_desc')
              )

            .form-group
              label(for='login_pass')= self.t('password')
              input.form-control(
                id='login_pass'
                name='pass'
                type='password'
                placeholder=self.t('password_desc')
              )
              small.form-text.text-muted= self.t('password_help')

            // ko with: recaptcha_response_field
            != self.partial('@common.blocks.recaptcha')
            // /ko

            button.btn.btn-primary(type='submit')= self.t('enter')
            a.btn.btn-link(href=self.link_to('users.auth.reset_password.request_show'))= self.t('forgot')
