#content.row
  .span8.offset2.well.well-form
    form.form-horizontal(data-on-submit='users.auth.login.plain')
      legend
        small.pull-right: a(href=self.link_to('users.auth.register.show')) #{self.t('register')}
        | #{self.t('title')}

      //- This is showed on errors only.
      .control-group(data-bind='visible: message', style='display: none')
        .controls
          p.text-error(data-bind='text: message')

      .control-group
        label.control-label(for='login_email_or_nick') #{self.t('email')}
        .controls
          .row-fluid
            input.span12(id='login_email_or_nick', name='email_or_nick', type='text')

      .control-group
        label.control-label(for='login_pass') #{self.t('password')}
        .controls
          .row-fluid
            input.span12(id='login_pass', name='pass', type='password')

      //- Captcha is showed only when rate limit reached or there was a captcha
      //- error in previous request.
      div(data-bind='visible: captcha', style='display: none')
        - self.add_raw_data('captcha_required', self.captcha_required)
        != self.partial('@common.blocks.recaptcha')

      .control-group
        .controls
          button.btn.btn-primary.btn-large(type='submit')
            | #{self.t('enter')}

          a.btn.btn-link(href=self.link_to('users.auth.reset_password.request_form'))
            | #{self.t('forgot')}
