#content.row
  .col-sm-8.col-sm-offset-2
    .panel.panel-default

      .panel-heading
        .panel-title #{self.t('title')}
          .pull-right: small: a(href=self.link_to('users.auth.register.show')) #{self.t('register')}


      form.panel-body.form-horizontal(data-on-submit='users.auth.login.plain_exec')
        if Object.keys(self.blocks.oauth).length
          .form-group.oauth__block
            .col-md-9.col-md-offset-3
              != self.partial('@common.blocks.oauth_buttons')
              span.help-block
                =self.t('oauth_info')
        //- This is showed on errors only.
        .form-group(data-bind='visible: message', style='display: none')
          .col-md-9.col-md-offset-3
            p.text-danger(data-bind='text: message')

        .form-group
          label.control-label.col-md-3(for='login_email_or_nick') #{self.t('email')}
          .col-md-9
            input.form-control(id='login_email_or_nick', name='email_or_nick', type='text')

        .form-group
          label.control-label.col-md-3(for='login_pass') #{self.t('password')}
          .col-md-9
            input.form-control(id='login_pass', name='pass', type='password')

        //- Captcha is showed only when rate limit reached or there was a captcha
        //- error in previous request.
        - self.add_raw_data('captcha_required', self.captcha_required)

        // ko with: recaptcha_response_field
        != self.partial('@common.blocks.recaptcha')
        // /ko

        .form-group
          .col-md-9.col-md-offset-3
            button.btn.btn-primary(type='submit')
              | #{self.t('enter')}

            a.btn.btn-link(href=self.link_to('users.auth.reset_password.request_show'))
              | #{self.t('forgot')}
