#content.row
  .span8.offset2.well.well-form
    form.form-horizontal(data-on-submit='users.auth.login.plain.exec')

      legend
        small.pull-right: a(href=self.link_to('users.auth.register.show')) #{self.t('register')}
        | #{self.t('title')}

      - self.errors = self.errors || {}
      - _status_class = ('common' in self.errors) ? 'error' : ''

      - if(self.errors.common)
        .control-group(class=_status_class)
          .controls
            p.text-error #{self.errors.common}

      .control-group(class=_status_class)
        label.control-label(for='lgn_eml') #{self.t('email')}
        .controls
          .row-fluid
            input.span12(id='lgn_eml', name='email', type='text', value=self.email)

      .control-group(class=_status_class)
        label.control-label(for='lgn_pass') #{self.t('password')}
        .controls
          .row-fluid
            input.span12(id='lgn_pass', name='pass', type='password', value=self.pass)

      //- show captcha only when rate limit reached or captcha error in previous request
      - if (self.captcha_required || (self.errors && self.errors.recaptcha))
        != self.partial('@common.blocks.recaptcha', { public_key: self.runtime.recaptcha.public_key, errors: self.errors.recaptcha })

      .control-group
        .controls
          button.btn.btn-primary.btn-large(type='submit') #{self.t('enter')}
          button.btn.btn-link(href=self.link_to('users.auth.login.eml.forgot'))
            | #{self.t('forgot')}

      //- no oauth now
      //-
        legend #{self.t('title_social')}
        .control-group
          .controls
              span 123
              span sfgdg123
              span hjlk
