#content
  != self.partial('@common.blocks.navbar.logo_apps')

  .layout__container.container-fluid.space-top
    .row
      .col-md-6.col-sm-8.m-auto
        .card
          form.card-body(data-on-submit='users.auth.register.activate_show:submit')
            .mb-3
              label.form-label(for='secret_key')= self.t('message')
              input.form-control(
                id='secret_key'
                type='number'
                name='secret_key'
                autocapitalize='off'
                autocorrect='off'
                autocomplete='off'
                spellcheck='false'
                data-bind='css: { "is-invalid": error }'
              )
              // ko if: error
              .invalid-feedback(data-bind='text: error')
              // /ko

            button.btn.btn-primary(type='submit')= self.t('submit')
