#content.row
  .span8.offset2.well.well-form
    form.form-horizontal(data-on-submit='users.auth.register')

      legend
        small.pull-right: a(href=self.link_to('users.auth.login.show')) #{self.t('login')}
        | #{self.head.title}

      // ko with: email
      .control-group(data-bind='css: css')
        label.control-label(for='register_email') #{self.t('email')}
        .controls
          .row-fluid
            input.span12(id='register_email', name='email', type='email', data-bind='value: value')
            span.help-block(data-bind='text: help')
      // /ko

      // ko with: pass
      .control-group(data-bind='css: css')
        label.control-label(for='register_pass') #{self.t('pass')}
        .controls
          .row-fluid
            input.span12(id='register_pass', name='pass', type='password', data-bind='value: value')
            span.help-block(data-bind='text: help')
      // /ko


      // ko with: nick
      .control-group(data-bind='css: css')
        label.control-label(for='register_nick') #{self.t('nick')}
        .controls
          .row-fluid
            input.span12(
              id='register_nick',
              name='nick',
              type='text',
              data-bind='value: value, valueUpdate: "afterkeydown"')
            span.help-block(data-bind='text: help')
      // /ko
              
      // ko with: recaptcha_response_field
      != self.partial('@common.blocks.recaptcha')
      // /ko

      .control-group
        .controls
          button.btn.btn-primary.btn-large(type='submit') #{self.t('register')}
