if self.user_is_hb
  button.dropdown-item(
    type='button'
    data-on-click='users.member:unhellban'
    data-user-id=self.user._id
  )= self.t('unhellban')
else
  button.dropdown-item(
    type='button'
    data-on-click='users.member:hellban'
    data-user-id=self.user._id
  )= self.t('hellban')
