#navbar-progress-source.pull-xs-left
  !=self.partial('@users.dialogs_root.blocks.page_progress', self.page_progress)

.navbar-nav.pull-xs-left
  a.navbar__level-up.nav-link.icon.icon-level-up(
    href=self.link_to('users.member', { user_hid: self.runtime.user_hid })
  )

.pull-xs-right
  button.btn.btn-secondary.btn-square.icon.icon-plus(
    type='button'
    data-on-click='users.dialogs_root:create_message'
    title=self.t('new_message')
  )

.navbar-alt__title=self.t('title')
