.member-block

  .member-block__header
    .member-block__header-title.h2
      .member-block__header-text.pull-left
        =self.t('title')
        =' (' + self.blocks.infractions.list.length + ')'
        if self.blocks.infractions.settings.users_mod_can_add_infractions && self.blocks.infractions.settings.can_receive_infractions
          button.btn.btn-link.btn-sm.icon.icon-plus(
            title=self.t('add')
            data-on-click='users.member.blocks.infractions:add'
            data-user-id=self.user._id
          )
      a.member-block__header-collapser(href='#member-infractions-info', data-toggle='collapse')
        .pull-right.icon.icon-collapse
        .pull-right.icon.icon-expand

  #member-infractions-info.member-block__inner.collapse.in
    if self.blocks.infractions.list.length
      ul.list-unstyled.member-infractions

        li.member-infractions__header.row
          .col-xs-3=self.t('author')
          .col-xs-2=self.t('date')
          .col-xs-3=self.t('reason')
          .col-xs-1=self.t('points')
          .col-xs-2=self.t('expire')

        each infraction in self.blocks.infractions.list
          - var url = self.blocks.infractions.urls[infraction.src_id];
          - var author = self.users[infraction.from];
          - var expire = infraction.expire ? Date.now() >= new Date(infraction.expire).getTime() : false;

          li.row.member-infractions-item(class=expire ? 'member-infractions-item__m-expire' : '')

            if author
              a.col-xs-3.member-infractions-item__author(
                href=self.link_to('users.member', { user_hid: author.hid })
              )= author.name

            .col-xs-2.member-infractions-item__ts!=self.timetag(infraction.ts, 'compact')

            .col-xs-3.member-infractions-item__reason=infraction.reason || self.t('@users.infractions.types.' + infraction.type)

            .col-xs-1.member-infractions-item__points=infraction.points

            .col-xs-2.member-infractions-item__expire
              if infraction.expire
                !=self.timetag(infraction.expire, 'compact')
              else
                =self.t('never')

            .col-xs-1.member-infractions-item__controls
              if url
                a(href=url title=self.t('show')).member-infractions-item__link: span.icon.icon-ref-outer

              if self.blocks.infractions.settings.users_mod_can_add_infractions
                a(href='#'
                  data-on-click='users.member.blocks.infractions:delete'
                  data-infraction-id=infraction._id
                  title=self.t('delete')
                ).member-infractions-item__remove: span.icon.icon-deleted

    .clearfix
