.member-block

  .member-block__header
    .member-block__header-title.h2
      .member-block__header-text.pull-left
        - var points = 0;
        each infraction in self.blocks.infractions.list
          if infraction.exists && (!infraction.expire || (new Date(infraction.expire).getTime() > Date.now()))
            - points += infraction.points;

        =self.t('title', points)
        if self.blocks.infractions.settings.users_mod_can_add_infractions && self.blocks.infractions.settings.can_receive_infractions
          button.btn.btn-link.btn-sm.icon.icon-plus(
            title=self.t('add')
            data-on-click='users.member.blocks.infractions:add'
            data-user-id=self.user._id
          )
      a.member-block__header-collapser(href='#member-infractions-info', data-toggle='collapse')
        .pull-right.icon.icon-collapse
        .pull-right.icon.icon-expand

  #member-infractions-info.member-block__inner.collapse.in
    if self.blocks.infractions.list.length

      .table-responsive
        table.table
          thead: tr
            th=self.t('by')
            th=self.t('date')
            th=self.t('reason')
            th=self.t('points')
            th=self.t('expires')

          tbody
            each infraction in self.blocks.infractions.list
              - var info = self.blocks.infractions.content_info[infraction.src_id];
              - var author = self.users[infraction.from];
              - var expired = infraction.expire ? Date.now() >= new Date(infraction.expire).getTime() : false;

              tr.member-infractions-item(
                class=expired ? 'member-infractions-item__m-expired' : ''
                class=!infraction.exists ? 'member-infractions-item__m-deleted' : ''
              )

                td.member-infractions-item__author
                  if author
                    a.member-infractions-item__author-link(
                      href=self.link_to('users.member', { user_hid: author.hid })
                    )= author.nick

                td.member-infractions-item__ts
                  !=self.timetag(infraction.ts, 'compact')

                td.member-infractions-item__reason
                    - var reason = infraction.reason || self.t('@users.infractions.types.' + infraction.type);

                    if infraction.exists
                      if info
                        a(href=info.url title=info.title)=reason
                      else
                        =reason
                    else
                      - var del_reason = [ self.t('deleted_by') ];

                      if self.users[infraction.del_by]
                        - del_reason.push(self.users[infraction.del_by].nick);

                      if infraction.del_reason
                        - del_reason.push('(' + infraction.del_reason + ')');

                      if info
                        a(href=info.url title=del_reason.join(' '))=reason
                      else
                        span(title=del_reason.join(' '))=reason

                td.member-infractions-item__points=infraction.points

                td.member-infractions-item__expire
                  if !infraction.exists
                    =self.t('deleted')
                  else if expired
                    =self.t('expired')
                  else if infraction.expire
                    !=self.timetag(infraction.expire, 'compact')
                  else
                    =self.t('never')

                  if infraction.exists && !expired && (self.blocks.infractions.settings.can_delete_infractions || infraction.from === self.runtime.user_id)
                    a(href='#'
                      data-on-click='users.member.blocks.infractions:delete'
                      data-infraction-id=infraction._id
                      title=self.t('delete')
                    ).member-infractions-item__remove.pull-right: span.icon.icon-deleted

    .clearfix
