.member-block

  .member-block__header
    .member-block__header-title.h2
      .member-block__header-text.pull-left
        - var points = 0;
        each infraction in self.blocks.infractions.list
          if !infraction.expire || (new Date(infraction.expire).getTime() > Date.now())
            - points += infraction.points;

        =self.t('title', points)
        if self.blocks.infractions.settings.users_mod_can_add_infractions && self.blocks.infractions.settings.can_receive_infractions
          button.btn.btn-link.btn-sm.icon.icon-plus(
            title=self.t('add')
            data-on-click='users.member.blocks.infractions:add'
            data-user-id=self.user._id
          )
      a.member-block__header-collapser(href='#member-infractions-info', data-toggle='collapse')
        .pull-right.icon.icon-collapse
        .pull-right.icon.icon-expand

  #member-infractions-info.member-block__inner.collapse.in
    if self.blocks.infractions.list.length

      .table-responsive
        table.table
          tr
            th=self.t('author')
            th=self.t('date')
            th=self.t('reason')
            th=self.t('points')
            th=self.t('expire')
            th

          each infraction in self.blocks.infractions.list
            - var info = self.blocks.infractions.content_info[infraction.src_id];
            - var author = self.users[infraction.from];
            - var expired = infraction.expire ? Date.now() >= new Date(infraction.expire).getTime() : false;

            tr.member-infractions-item(
              class=expired ? 'member-infractions-item__m-expired' : ''
              class=!infraction.exists ? 'member-infractions-item__m-deleted' : ''
            )

              td.member-infractions-item__author
                if author
                  a.member-infractions-item__author-link(
                    href=self.link_to('users.member', { user_hid: author.hid })
                  )= author.nick

              td.member-infractions-item__ts!=self.timetag(infraction.ts, 'compact')

              td.member-infractions-item__reason=infraction.reason || self.t('@users.infractions.types.' + infraction.type)

              td.member-infractions-item__points=infraction.points

              td.member-infractions-item__expire
                if infraction.expire
                  !=self.timetag(infraction.expire, 'compact')
                else
                  =self.t('never')

              td.member-infractions-item__controls
                if info
                  a(href=info.url title=info.title).member-infractions-item__link: span.icon.icon-ref-outer
                if self.blocks.infractions.settings.can_delete_infractions || infraction.from === self.runtime.user_id
                  a(href='#'
                    data-on-click='users.member.blocks.infractions:delete'
                    data-infraction-id=infraction._id
                    title=self.t('delete')
                  ).member-infractions-item__remove: span.icon.icon-deleted

    .clearfix
