form.form-horizontal(data-on-submit='users.auth.login')
  .row
    .span6.offset3.well.well-form

      legend
        small.pull-right: a(href=self.link_to('users.auth.register.view')) #{self.t('common.auth.register')}
        | #{self.t('users.auth.login_form.title')}

      - if(self.error)
        .control-group
          p.text-error #{self.error}

      .control-group
        label.control-label(for='lgn_eml') #{self.t('users.auth.login_form.email')}
        .controls
          .row-fluid
            input.span12(id='lgn_eml', name='email', type='text')

      .control-group
        label.control-label(for='lgn_pass') #{self.t('users.auth.login_form.password')}
        .controls
          .row-fluid
            input.span12(id='lgn_pass', name='pass', type='password')

      .control-group
        .controls
          button.btn.btn-primary.btn-large(type='submit') #{self.t('users.auth.login_form.enter')}
          button.btn.btn-link(href=self.link_to('users.auth.login.eml.forgot'))
            | #{self.t('users.auth.login_form.forgot')}

      //- no oauth now
      //-
        legend #{self.t('users.login_form.title_social')}
        .control-group
          .controls
              span 123
              span sfgdg123
              span hjlk
