- var own_page = (self.runtime.user_hid === self.user.hid)

if own_page
  a(href=self.link_to('users.settings.location'))
    if self.value
      span.icon.icon-location.icon-space-after

      if self.value.name
        = self.value.name
      else
        = self.t('edit')
    else
      = self.t('set')
else
  a(
    href= '#'
    data-on-click= 'common.blocks.location_show_dlg'
    data-latitude= self.value.location && self.value.location[0]
    data-longitude= self.value.location && self.value.location[1]
  )
    span.icon.icon-location.icon-space-after

    if self.value.name
      = self.value.name
    else
      = self.t('show')
