- var own_page = (self.runtime.user_hid === self.user.hid)

#content
  != self.partial('@users.blocks.breadcrumbs')

  //--header.page-head
    h1.page-head__title(itemprop='name')= self.users[self.user._id].name
    p.page-head__descr.hidden-xs(itemprop='description')

  - var modifier = self.avatar_exists ? 'member-layout__m-avatar-exists' : '';
  .member-layout(class=modifier)
    .member-sidebar
      .member-avatar
        if own_page
          a.member-avatar__delete.btn.btn-xs.btn-default(href='#' data-on-click='users.member:detete_avatar').icon.icon-cancel
          a.member-avatar__link(href='#' data-on-click='users.member:change_avatar')
            img.member-avatar__image(src=self.link_to('core.gridfs', { bucket: self.users[self.user._id].avatar_id }))
            .member-avatar__caption= self.t('change_avatar')
        else
          img.member-avatar__image(src=self.link_to('core.gridfs', { bucket: self.users[self.user._id].avatar_id }))
      if own_page
        ul.member-sidebar__menu
          each item in self.menu_ordered
            li.member-sidebar__menu-item
              a.member-sidebar__menu-link(href=self.link_to(item.to, { user_hid: self.user.hid }))= self.t('menu.' + item.name)

    .member-blocks
      each block in self.blocks_ordered
        if (self.blocks[block.name])
          != self.partial('@users.member.blocks.' + block.name)
