- var own_page = (self.runtime.user_hid === self.user.hid)
- self.add_raw_data('profile_tab', own_page)

#content.user-member-page
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.member-head(
      class= self.avatar_exists ? 'member-head__m-avatar-exists' : ''
      class= !self.runtime.is_member ? 'member-head__m-guest' : ''
    )
      .member-head__aside
        .member-avatar
          if own_page
            a.member-avatar__delete.btn.btn-sm.btn-square.btn-secondary(href='#' data-on-click='users.member:delete_avatar').icon.icon-x
            a.member-avatar__link(href='#' data-on-click='users.member:change_avatar')
              img.member-avatar__image()&attributes(self.avatar(self.user._id, self.users[self.user._id]))
              .member-avatar__caption= self.t('change_avatar')
          else
            img.member-avatar__image()&attributes(self.avatar(self.user._id, self.users[self.user._id]))

      .member-head__content
        .page-head
          h1.page-head__title(itemprop='name')
            if self.user_is_ignored
              span.member__ignored.icon.icon-ignore.icon-space-after(
                title=self.t('ignored')
              )
            = self.users[self.user._id].name
          p.page-head__descr.member__last-visit(itemprop='description')
            =self.t('last_active')
            | 
            != self.timetag(self.user.last_active_ts, 'relative_full')

          if self.user_is_hb
            p.page-head__descr.member__hb.text-danger(itemprop='description')=self.t('hellbanned')

          if self.settings.can_add_mod_notes && self.mod_notes_count > 0
            p.page-head__descr
              a(href=self.link_to('users.mod_notes', { 'user_hid': self.user.hid }))
                =self.t('mod_notes', self.mod_notes_count)

          if self.penalty_expire
            p.page-head__descr.member__penalty.text-danger(itemprop='description')
              =self.t('blocked_until')
              | 
              !=self.timetag(self.penalty_expire, 'compact')

        //- Nav menu (wide screens)
        if self.runtime.is_member
          .member-menu
            if self.actions_ordered.length
              .member-menu__dropdown
                button.btn.btn-square.icon.icon-dropdown.dropdown-toggle(
                  class= own_page ? 'btn-sm btn-outline-primary' : 'btn-secondary'
                  type='button'
                  data-toggle='dropdown'
                )
                .dropdown-menu.dropdown-menu-left
                  each item in self.actions_ordered
                    !=self.partial('@users.member.actions.' + item.name)

            if own_page
              each item in self.menu_ordered
                a.btn(
                  class= own_page ? 'btn-sm btn-outline-primary' : 'btn-secondary'
                  href=self.link_to(item.to, { user_hid: self.user.hid })
                )
                  =self.t('@users.profile_page.menu.' + item.name)
            else
              if self.can_create_dialog_with_user
                button.btn.btn-square.icon.icon-mail(
                  class= own_page ? 'btn-sm btn-outline-primary' : 'btn-secondary'
                  type='button'
                  data-on-click='users.member:message'
                  data-to-nick=self.users[self.user._id].nick
                  data-to-hid=self.users[self.user._id].hid
                  title=self.t('send_message_help')
                )


    .member-blocks
      if self.blocks['usernote']
        != self.partial('@users.member.blocks.usernote')

      -
        var col1 = self.blocks_ordered.filter(function (b) { return b.priority < 100; });
        var col2 = self.blocks_ordered.filter(function (b) { return b.priority >= 100; });
        var has_col2 = col2.filter(function(b) { return self.blocks[b.name]; }).length;

      .row
        div(
          class= has_col2 ? 'col-md-6' : 'col-md-12'
          class= has_col2 ? 'member-blocks__col-left' : ''
        )

          each block in col1
            if (self.blocks[block.name])
              != self.partial('@users.member.blocks.' + block.name)

        if has_col2
          .col-md-6.member-blocks__col-right
            each block in col2
              if (self.blocks[block.name])
                != self.partial('@users.member.blocks.' + block.name)

      if self.blocks['infractions']
        != self.partial('@users.member.blocks.infractions')
