#content.row
  .span8.offset2.well.well-form
    unless self.valid_token
      = self.t('invalid_token')
    else
      form.form-horizontal(data-on-submit='users.auth.reset_password.change_exec')
        input(type='hidden', name='secret_key', value=self.secret_key)

        legend #{self.head.title}

        .control-group(data-bind='css: status')
          label.control-label(for='reset_password_new_password') #{self.t('new_password')}
          .controls
            .row-fluid
              input.span12(id='reset_password_new_password', name='new_password', type='password')
              span.span12.help-block #{self.t('new_password_help')}

        .control-group
          .controls
            button.btn.btn-primary.btn-large(type='submit') #{self.t('apply')}
