#content.row
  unless self.valid_token
    .col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
      .panel.panel-default
        .panel-body
          = self.t('invalid_token')
  else
    .col-sm-8.col-sm-offset-2
      .panel.panel-default

        .panel-heading.h3 #{self.head.title}

        form.panel-body.form-horizontal(data-on-submit='users.auth.reset_password.change_exec')
          input(type='hidden', name='secret_key', value=self.secret_key)

          .form-group(data-bind='css: status')
            label.control-label.col-md-3(for='reset_password_new_password') #{self.t('new_password')}
            .col-md-9
              input.form-control(id='reset_password_new_password', name='new_password', type='password')
              span.help-block #{self.t('new_password_help')}

          .form-group
            .col-md-9.col-md-offset-3
              button.btn.btn-primary(type='submit') #{self.t('apply')}
