#content
  != self.partial('@common.blocks.navbar.logo_apps')

  .layout__container.container-fluid.space-top
    unless self.valid_token
      .row
        .col-md-6.col-sm-8.m-auto
          .card.card-body.text-danger
            = self.t('err_invalid_token')
    else
      .row
        .col-md-6.col-sm-8.m-auto
          .card

            h1.card-header.h3
              = self.head.title

            form.card-body(data-on-submit='users.auth.reset_password.change_exec')
              input(type='hidden' name='secret_key' value=self.secret_key)

              .mb-3
                label.form-label(for='password')= self.t('password')
                input.form-control(
                  id='password'
                  name='password'
                  type='password'
                  placeholder=self.t('password_desc')
                  data-bind='css: { "is-invalid": error }'
                )
                // ko if: error && typeof error() === 'string'
                .invalid-feedback(data-bind='text: error')
                // /ko
                small.form-text.text-muted= self.t('password_help')

              button.btn.btn-primary(type='submit')= self.t('ok')
