#content.row
  .layout__container.container-fluid
    unless self.valid_token
      .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        .panel.panel-default
          .panel-body= self.t('err_invalid_token')
    else
      .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        .panel.panel-default
          .panel-heading
            .panel-title= self.head.title

          form.panel-body(data-on-submit='users.auth.reset_password.change_exec')
            input(type='hidden' name='secret_key' value=self.secret_key)

            .form-group(data-bind='css: { "has-danger": hasError }')
              label(for='password')= self.t('password')
              input.form-control(
                id='password'
                name='password'
                type='password'
                placeholder=self.t('password_desc')
              )
              small(data-bind='css: hasError() ? "text-danger" : "text-muted"')=self.t('password_help')

            button.btn.btn-primary(type='submit')= self.t('ok')
