#content
  != self.partial('@common.blocks.navbar.logo_apps')

  .layout__container.container-fluid.space-top
    .row
      .col-md-6.offset-md-3.col-sm-8.offset-sm-2
        .card

          h1.card-header.h3
            .auth-header-alt.float-xs-right
              a(href=self.link_to('users.auth.login.show'))= self.t('login')
            = self.head.title

          form.card-block(data-on-submit='users.auth.reset_password.request_exec')

            .form-group(data-bind='visible: message', style='display: none')
              p.text-danger(data-bind='text: message')

            .form-group
              label(for='reset_password_email')= self.t('email')
              input.form-control(
                id='reset_password_email'
                name='email'
                type='text'
                placeholder=self.t('email_desc')
              )

            // ko with: recaptcha_response_field
            != self.partial('@common.blocks.recaptcha')
            // /ko

            button.btn.btn-primary(type='submit')= self.t('reset_password')
