#content.row
  .col-sm-8.col-sm-offset-2
    .panel.panel-default

      .panel-heading.h3
        .h3.pull-right: small: a(href=self.link_to('users.auth.login.show')) #{self.t('login')}
        | #{self.head.title}

      form.panel-body.form-horizontal(data-on-submit='users.auth.reset_password.request_exec')

        .form-group(data-bind='visible: message', style='display: none')
          .col-md-9.col-md-offset-3
            p.text-danger(data-bind='text: message')

        .form-group
          label.control-label.col-md-3(for='reset_password_email') #{self.t('email')}
          .col-md-9
            input.form-control(id='reset_password_email', name='email', type='text')

        // ko with: recaptcha_response_field
        != self.partial('@common.blocks.recaptcha')
        // /ko

        .form-group
          .col-md-9.col-md-offset-3
            button.btn.btn-primary(type='submit') #{self.t('reset_password')}
