#content.row
  .span8.offset2.well.well-form
    form.form-horizontal(data-on-submit='users.auth.reset_password.request_exec')
      legend
        small.pull-right: a(href=self.link_to('users.auth.login.show')) #{self.t('login')}
        | #{self.head.title}

      .control-group(data-bind='visible: message', style='display: none')
        .controls
          p.text-error(data-bind='text: message')

      .control-group
        label.control-label(for='reset_password_email') #{self.t('email')}
        .controls
          .row-fluid
            input.span12(id='reset_password_email', name='email', type='text')

      != self.partial('@common.blocks.recaptcha')

      .control-group
        .controls
          button.btn.btn-primary.btn-large(type='submit') #{self.t('reset_password')}
