#content
  != self.partial('@common.blocks.navbar.logo_apps')

  .layout__container.container-fluid.space-top
    .row
      .col-md-6.col-sm-8.m-auto
        .card

          .card-header.d-flex.justify-content-between.align-items-center
            h1.h3.mb-0= self.head.title
            a(href=self.link_to('users.auth.login.show'))= self.t('login')

          form.card-body(data-on-submit='users.auth.reset_password.request_exec')

            .mb-3(data-bind='visible: error', style='display: none')
              p.text-danger(data-bind='text: error')

            .mb-3
              label.form-label(for='reset_password_email')= self.t('email')
              input.form-control(
                id='reset_password_email'
                name='email'
                type='text'
                placeholder=self.t('email_desc')
              )

            // ko with: recaptcha_response_field
            != self.partial('@common.blocks.recaptcha')
            // /ko

            button.btn.btn-primary(type='submit')= self.t('reset_password')
