select.media-select-dlg__albums.form-control.custom-select(data-on-change='users.blocks.media_select_dlg:album_select')
  each album in self.albums
    option(
      value=album._id || ''
      selected=album._id === self.selected_album_id
    )= album.default ? self.t('default_name') : album.title

.media-select-dlg__actions.text-xs-center
  button.btn.btn-secondary(
    data-on-click='users.blocks.media_select_dlg:create_album'
  )= self.t('create_album')
  | 
  //- Should 'click' file input in context of current action
  button.btn.btn-secondary(
    onClick='document.getElementById("media-select-dlg__files").click()'
  )= self.t('upload_here')

  //- Hidden element to call file selection dialog
  input#media-select-dlg__files(
    name='files[]'
    type='file'
    style='position: absolute; left: -2000px'
    multiple
    data-on-change='users.blocks.media_select_dlg:upload'
  )

.media-select-dlg__no-medias= self.t('no_files')

ul.media-select-dlg__content.thumb-grid.thumb-grid__m-fluid-md
  != self.partial('@users.blocks.media_select_dlg.media_list')

a.media-select-dlg__more-medias.btn.btn-secondary.btn-block.icon.icon-dimmed.icon-space-after.icon-more(
  data-on-click='users.blocks.media_select_dlg:more_photos'
)= self.t('more')
