.modal.fade(tabindex='-1' role='dialog' aria-hidden='true' data-backdrop='static')
  .modal-dialog.modal-md
    .modal-content

      .modal-header
        //- used custom close handler instead `data-dismiss='modal'` because this dialog
        //- has internal dialogs and we can't use bootstrap events
        h4.modal-title= self.t('title')
        button.close(
          aria-hidden='true'
          type='button'
          tabindex='-1'
          data-on-click='users.blocks.media_select_dlg:close'
        ) &times;

      .media_select_dlg__body.modal-body

      .modal-footer
        button.btn.btn-secondary(
          type='button'
          tabindex='2'
          data-on-click='users.blocks.media_select_dlg:close'
        )= self.t('cancel')
        button.btn.btn-primary(
          type='button'
          tabindex='3'
          data-on-click='users.blocks.media_select_dlg:done'
        )= self.t('ok')
