.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content

        .modal-header
          button.close(
            aria-hidden='true'
            type='button'
            data-dismiss='modal'
            tabindex='-1'
          ) &times;
          h4.modal-title= self.t('title')

        .modal-body
          select.media-select-dlg__albums.form-control(data-on-change='users.blocks.media_select_dlg:album_select')
            each album in self.albums
              option(value=album._id || '')=album.default ? self.t('default_name') : album.title

          .media-select-dlg__no-files= self.t('no_files')

          ul.media-select-dlg__content.thumb-grid.thumb-grid__m-sm.thumb-grid__m-responsive

          a.media-select-dlg__more-photos.btn.btn-default.icon.icon-dimmed.icon-space-after.icon-more(
            data-on-click='users.blocks.media_select_dlg:more_photos'
            data-page=self.page
            data-album-id=self.album_id
          )= self.t('more')

        .modal-footer
          button.btn.btn-default(type='button' tabindex='2' data-dismiss='modal')= self.t('cancel')
          button.btn.btn-primary(
            type='button'
            tabindex='3'
            data-on-click='users.blocks.media_select_dlg:apply'
          )= self.t('apply')

