- var first_message_id = self.dialogs.length ? self.dialogs[0].cache.last_message : null;
- var last_message_id = self.dialogs.length ? self.dialogs[self.dialogs.length - 1].cache.last_message : null;

- self.add_raw_data('pagination', self.pagination);
- self.add_raw_data('last_dialog_id', self.last_dialog_id);
- self.add_raw_data('first_message_id', first_message_id);
- self.add_raw_data('last_message_id', last_message_id);
- self.add_raw_data('dialogs_hide_answered', self.dialogs_hide_answered)

#content
  -
    var navbar_args = {
      title:    self.t('title'),
      level_up: self.link_to('users.member', { user_hid: self.user_hid }),
      toolbar:  'users.dialogs_root.blocks.page_actions',
      progress: {
        link_top:    self.link_to('users.dialogs_root', { user_hid: self.user_hid }),
        link_bottom: self.link_to('users.dialogs_root', { user_hid: self.user_hid, dialog_id: self.last_dialog_id }),
        current:     self.pagination.chunk_offset,
        total:       self.pagination.total
      }
    };

  != self.partial('@common.blocks.navbar.levelup_progress_apps', navbar_args)
  != self.partial('@common.blocks.navbar.alt_levelup_progress_title_toolbar', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      !=self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head
      .float-end
        != self.partial('@users.dialogs_root.blocks.page_actions')
      h1.page-head__title(itemprop='name')= self.t('title')
      .dialog-list-filter(itemprop='description')
        .form-check
          label.form-check-label.dialog-list-filter__label(
            data-on-change='users.dialogs_root:toggle_answered'
          )
            input.form-check-input.dialog-list-filter__checkbox(
              type='checkbox'
              checked=self.dialogs_hide_answered
            )
            = ' ' + self.t('hide_answered_dialogs')

    if self.dialogs.length === 0
      .dialog-list-no-items=self.t('no_messages')

    else
      .dialog-list__loading-prev.nojs-hide(
        class=(self.pagination.chunk_offset === 0 || !first_message_id ? 'd-none' : '')
      )
        span.icon.icon-loading-placeholder

      .dialog-list
        != self.partial('@users.blocks.dialog_list')

      .dialog-list__loading-next.nojs-hide(
        class=(!self.dialogs || self.dialogs.length === 0 || String(self.dialogs[self.dialogs.length - 1]._id) === String(self.last_dialog_id) || !last_message_id ? 'd-none' : '')
      )
        span.icon.icon-loading-placeholder
