label.col-form-label.col-3=self.t(self.name)
.col-4.control-value
  .switch
    input#user-hb-switch(type="checkbox", name=self.name, checked=self.value)
    label.form-label(data-yes=self.t('yes'), data-no=self.t('no'), for='user-hb-switch'): i
