#content.user-settings-ignore-root
  -
    const navbar_base = {
      level_up: self.link_to('users.member', { user_hid: self.runtime.user_hid })
    };

  != self.partial('@common.blocks.navbar.levelup_apps', navbar_base)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')
    != self.partial('@users.settings.tabs', { active: 'ignore' })

    .user-settings__tab-content
      if self.ignore_list.length
        table.table.table-condensed.user-settings-ignore
          tbody
            each row in self.ignore_list
              - var user = self.users[row.user_id]

              if self.user
              tr
                td.user-settings-ignore__user
                  a(
                    href=self.link_to('users.member', { user_hid: user.hid })
                    title=row.expire ? self.date(row.ts, 'date') : undefined
                  )
                    img.user-settings-ignore__avatar(alt=user.name)&attributes(self.avatar(user, 'sm'))
                    = user.name
                td.user-settings-ignore__reason= row.reason
                td.user-settings-ignore__expire.text-nowrap
                  = row.expire ? self.t('ignored_till', { date: self.date(row.expire, 'date') }) : self.t('ignored_forever')
                td.user-settings-ignore__controls
                  button.float-end.btn.btn-xs.btn-link.icon.icon-x(
                    data-on-click='users.settings.ignore:remove'
                    data-user-id=user._id
                  )
      else
        .user-settings-ignore= self.t('no_ignored_users')
