- self.add_raw_data('setting_schemas', self.setting_schemas)
- self.add_raw_data('settings', self.settings)

#content.user-settings-ignore-root
  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    header.page-head
      ul.nav.nav-pills
        li
          a(href=self.link_to('users.settings.general'))= self.t('general')
        li.active
          a(href=self.link_to('users.settings.ignore'))= self.t('ignore')

    table.table.table-condensed.user-settings-ignore
      tbody
        each row in self.ignore_list
          - var user = self.users[row.user_id]

          if self.users
          tr
            td.user-settings-ignore__user
              a(
                href=self.link_to('users.member', { user_hid: user.hid })
                title=row.expire ? self.date(row.ts, 'date') : undefined
              )
                img.user-settings-ignore__avatar(alt=user.name)&attributes(self.avatar(user, 'sm'))
                = user.name
            td.user-settings-ignore__reason= row.reason
            td.user-settings-ignore__expire
              = row.expire ? self.t('ignored_till', { date: self.date(row.expire, 'date') }) : self.t('ignored_forever')
            td.user-settings-ignore__controls
              button.pull-xs-right.btn.btn-xs.btn-secondary.icon.icon-deleted(
                data-on-click='users.settings.ignore:remove'
                data-user-id=user._id
              )
        else
          td(colspan=4)= self.t('no_ignored_users')
