.row
  .span8.offset2.well.well-form
    form.form-horizontal(data-on-submit='users.auth.register.exec')

      legend
        small.pull-right: a(href=self.link_to('users.auth.login.show')) #{self.t('common.auth.login')}
        | #{self.t('users.auth.reg_form.title')}


      - self.errors = self.errors || {}
      - var _group_class, _input_help_text


      - _group_class = ('email' in self.errors) ? 'error' : ''
      - _input_help_text = (self.errors.email) ? self.errors.email : self.t('users.auth.reg_form.email_help')

      .control-group(class=_group_class)
        label.control-label(for='reg_eml') #{self.t('users.auth.reg_form.email')}
        .controls
          .row-fluid
            input.span12(id='reg_eml', name='email', type='email', value=self.email)
            span.help-block #{_input_help_text}


      - _group_class = ('pass' in self.errors) ? 'error' : ''
      - _input_help_text = (self.errors.pass) ? self.errors.pass : self.t('users.auth.reg_form.password_help')

      .control-group(class=_group_class)
        label.control-label(for='reg_pass') #{self.t('users.auth.reg_form.password')}
        .controls
          .row-fluid
            input.span12(id='reg_pass', name='pass', type='password', value=self.pass)
            span.help-block #{_input_help_text}


      - _group_class = ('nick' in self.errors) ? 'error' : ''
      - _input_help_text = (self.errors.nick) ? self.errors.nick : self.t('users.auth.reg_form.nick_help')

      .control-group(class=_group_class)
        label.control-label(for='reg_nick') #{self.t('users.auth.reg_form.nick')}
        .controls
          .row-fluid
            input.span12(
              id='reg_nick',
              name='nick',
              type='text',
              value=self.nick,
              data-on-input='users.auth.register.check_nick')
            span.help-block #{_input_help_text}
              

      include ../../../common/recaptcha

      .control-group
        .controls
          button.btn.btn-primary.btn-large(type='submit') #{self.t('users.auth.reg_form.register')}
