.row
  .span8.offset2.well.well-form

    form.form-horizontal(data-on-submit='users.auth.register')
      legend
        small.pull-right: a(href=self.link_to('users.auth.login.view')) #{self.t('common.auth.login')}
        | #{self.t('users.auth.reg_form.title')}

      .control-group
        label.control-label(for='reg_eml') #{self.t('users.auth.reg_form.email')}
        .controls
          .row-fluid
            input.span12(id='reg_eml', name='email', type='email')
            span.help-block #{self.t('users.auth.reg_form.email_help')}

      .control-group
        label.control-label(for='reg_pass') #{self.t('users.auth.reg_form.password')}
        .controls
          .row-fluid
            input.span12(id='reg_pass', name='pass', type='password')
            span.help-block #{self.t('users.auth.reg_form.password_help')}

      .control-group
        label.control-label(for='reg_nick') #{self.t('users.auth.reg_form.nick')}
        .controls
          .row-fluid
            input.span12(id='reg_nick', name='nick', type='text')
            span.help-block #{self.t('users.auth.reg_form.nick_help')}

      .control-group
        .controls
          button.btn.btn-primary.btn-large(type='submit') #{self.t('users.auth.reg_form.register')}
