form.form-horizontal(data-on-submit='users.auth.register')
  .row
    .span8.offset2.well.well-form

      legend
        small.pull-right: a(href=self.link_to('users.auth.login.view')) #{self.t('common.auth.login')}
        | #{self.t('users.auth.reg_form.title')}

      - var err_class
      - err_class = (!!self.errors && !!self.errors.email) ? 'error' : ''
      .control-group(class=err_class)
        label.control-label(for='reg_eml') #{self.t('users.auth.reg_form.email')}
        .controls
          .row-fluid
            input.span12(id='reg_eml', name='email', type='email', value=self.email)
            span.help-block #{self.t('users.auth.reg_form.email_help')}
            - if (err_class !== '')
              span.help-block #{self.errors.email}

      - err_class = (!!self.errors && !!self.errors.pass) ? 'error': ''
      .control-group(class=err_class)
        label.control-label(for='reg_pass') #{self.t('users.auth.reg_form.password')}
        .controls
          .row-fluid
            input.span12(id='reg_pass', name='pass', type='password')
            span.help-block #{self.t('users.auth.reg_form.password_help')}
            - if (err_class !== '')
              span.help-block #{self.errors.pass}

      - err_class = (!!self.errors && !!self.errors.nick) ? 'error': ''
      .control-group(class=err_class)
        label.control-label(for='reg_nick') #{self.t('users.auth.reg_form.nick')}
        .controls
          .row-fluid
            input.span12(id='reg_nick', name='nick', type='text', value=self.nick)
            span.help-block #{self.t('users.auth.reg_form.nick_help')}
            - if (err_class !== '')
              span.help-block #{self.errors.nick}

      include ../../../common/recaptcha

      .control-group
        .controls
          button.btn.btn-primary.btn-large(type='submit') #{self.t('users.auth.reg_form.register')}
