#ucard-popover
  aside.ucard-sidebar
    a.ucard-avatar(href=self.link_to('users.member', { user_hid: self.user.hid }))
      img.ucard-avatar__image(alt=self.user.name)&attributes(self.avatar(self.user))

    ul.ucard__controls
      if self.can_create_dialog_with_user
        li.ucard__controls-item
          button.btn.btn-secondary.btn-xs.btn-block.icon.icon-mail(
            data-on-click='common.usercard_popover:message'
            data-to-nick=self.user.nick
            data-to-hid=self.user.hid
            data-ref=self.ref
            title=self.t('send_message')
          )

      //- li.ucard__controls-item
        button.btn.btn-secondary.btn-xs.btn-block.icon.icon-search(
          title=self.t('find_posts')
        )

  .ucard-info
    .ucard-info__head
      a.ucard-info__head-link(
        href=self.link_to('users.member', { user_hid: self.user.hid })
      )= self.user.name

    dl.ucard-info__dl
      if self.penalty_expire
        dt.ucard-info__dt= self.t('penalty_title')
        dd.ucard-info__dd!= self.timetag(self.penalty_expire, 'compact')

      if self.infractions_points && self.infractions_points > 0
        dt.ucard-info__dt= self.t('infractions_title')
        dd.ucard-info__dd= self.t('infractions_text', self.infractions_points)

      dt.ucard-info__dt= self.t('activity')
      dd.ucard-info__dd
        a(
          href=self.link_to('users.activity', { user_hid: self.user.hid })
        )= self.user_activity

      if self.age != null
        dt.ucard-info__dt= self.t('age')
        dd.ucard-info__dd= self.age

      if self.location
        dt.ucard-info__dt= self.t('location')
        dd.ucard-info__dd
          span.icon.icon-location.icon-space-after

          if self.location_name
            = self.location_name

      dt.ucard-info__dt= self.t('joined')
      dd.ucard-info__dd!= self.timetag(self.user.joined_ts, 'registered_time')

      dt.ucard-info__dt= self.t('last_active')
      dd.ucard-info__dd!= self.timetag(self.user.last_active_ts, 'last_active')
