.ucard-inner(id=self.popover_id)
  - if (self.loading)
    .progress: span= self.t('loading')
  - else 
    .ucard-head.cleafix #{self.name}
    aside.ucard-sidebar
      a.ucard-avatar(href='#')
        img.av-l(alt=self.name)&attributes(self.avatar(self))

      a.btn.btn-default.btn-xs.btn-block= self.t('find_posts')  
      a.btn.btn-default.btn-xs.btn-block= self.t('send_message')  

    .ucard-info
      dl.dl-horizontal

        dt Age
        dd 32

        dt City
        dd Honolulu

        dt Member since
        dd #{self.date(self.joined_ts, 'date')}

        dt Total posts
        dd 678

        dt Last active
        dd Now
