- var menu_rnd_id = 'rnd' + self.get_label_uid()

.page-actions__dropdown
  if self.dialog.user === self.runtime.user_id
    button.btn.btn-secondary.btn-square.icon.icon-dropdown.dropdown-toggle(
      type='button'
      id=menu_rnd_id
      aria-haspopup='true'
      aria-expanded='false'
      data-bs-toggle='dropdown'
    )

    .dropdown-menu.dropdown-menu-end(aria-labelledby=menu_rnd_id)
      button.dropdown-item(
        type='button'
        data-on-click='users.dialog:delete_dialog'
        data-dialog-id=self.dialog._id
      )= self.t('delete')
