.row
  .span6.offset3.well.well-form

    form.form-horizontal(data-on-submit='users.auth.login.plain.exec')
      legend
        small.pull-right: a(href=self.link_to('users.auth.register.view')) #{self.t('common.auth.register')}
        | #{self.t('users.auth.restore_form.title')}

      .control-group
        p.text-error.hidden #{self.t('users.auth.restore_form.error')}

      .control-group
        label.control-label(for='lgn_eml') #{self.t('users.auth.restore_form.email')}
        .controls
          .row-fluid
            input.span12(id='lgn_eml', name='email', type='text')

      .control-group
        .controls
          button.btn.btn-primary.btn-large(type='submit') #{self.t('users.auth.restore_form.enter')}
