if self.medias.length > 0
  ul.thumb-grid.thumb-grid__m-fluid-md
    each media in self.medias
      li.thumb-grid__item: .thumb-grid__item-inner
        a.thumb(
          href=self.link_to('users.media', { user_hid: self.user_hid, media_id: media.media_id })
          data-on-click='users.album.edit.select_cover:select'
          data-media_id=media.media_id
        )
          img.thumb__image(src=self.link_to('core.gridfs', { 'bucket': media.media_id + '_sm' }))
else
  p= self.t('empty_album')
