if self.medias.length > 0
  ul.thumb-grid.thumb-grid__m-responsive.thumb-grid__m-sm
    each media in self.medias
      li.thumb-grid__item
        a.thumb(
          href='#'
          data-on-click='users.album.edit.select_cover:select'
          data-media_id=media.media_id
        )
          img.thumb__image(src=self.link_to('core.gridfs', { 'bucket': media.media_id + '_sm' }))
else
  p= self.t('empty_album')
