#content.user-edit(class=self.user.exists ? '' : 'user-edit__m-deleted')
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    .page-head
      .dropdown.float-right
        button.btn.btn-square.btn-secondary.dropdown-toggle(
          type='button'
          data-toggle='dropdown'
        )
        .dropdown-menu.dropdown-menu-right
          button.dropdown-item(
            type='button'
            data-user-hid=self.user.hid
          )= self.t('show_ips')

          .dropdown-divider

          button.dropdown-item(
            type='button'
            data-on-click='admin.users.members.edit:delete_dialogs'
            data-user-hid=self.user.hid
          )= self.t('delete_dialogs')

          button.dropdown-item(
            type='button'
            data-on-click='admin.users.members.edit:delete_votes'
            data-user-hid=self.user.hid
          )= self.t('delete_votes')

          if self.user.exists
            button.dropdown-item(
              type='button'
              data-on-click='admin.users.members.edit:delete_account'
              data-user-hid=self.user.hid
            )= self.t('delete_account')
          else
            button.dropdown-item(
              type='button'
              data-on-click='admin.users.members.edit:restore_account'
              data-user-hid=self.user.hid
            )= self.t('restore_account')

      h1.page-head__title.user-edit__name(itemprop='name')= self.user.name
      p.page-head__descr(itemprop='description')
        a.user-edit__profile-link(href=self.link_to('users.member', { user_hid: self.user.hid }), target='_blank')= self.t('profile')

    if self.penalty_expire
      .alert.alert-danger
         =self.t('blocked_until')
         | 
         !=self.timetag(self.penalty_expire, 'compact')

         button.btn.btn-sm.btn-outline-danger.float-right(data-on-click='admin.users.members.edit:unblock', data-user-hid=self.user.hid)= self.t('unblock')

    form#member_edit_form.form-horizontal(data-on-submit='admin.users.members.edit:submit', data-user-hid=self.user.hid)
      fieldset

        .form-group.row
          label.col-form-label.col-3
            = self.t('avatar')
          .col-4.control-value
            .user-edit-avatar(class=self.user.avatar_id ? 'user-edit-avatar__m-exists' : '')
              a.user-edit-avatar__delete.btn.btn-sm.btn-square.btn-secondary(href='#', data-on-click='admin.users.members.edit:delete_avatar', data-user-hid=self.user.hid)= '×'
              img.user-edit-avatar__image()&attributes(self.avatar(self.user))

        each item in self.fields
          - var name = item.name;

          .form-group.row.form-group-hover

            if self.partial_exists('blocks.' + name)
              != self.partial('blocks.' + name, item)
            else
              label.col-form-label.col-3
                = self.t.exists(name) ? self.t(name) : self.t('@admin.users.about.' + name)
              .col-4.control-value
                if typeof(item.text) !== 'undefined'
                  .form-control-static= item.text
                else
                  input.form-control(type='text', name=item.name, value=item.value)

      .form-group.row
        .col-9.col-offset-3
          button.btn.btn-primary(type='submit')
            = self.t('button_save')
