.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog
    .modal-content
      form(data-on-submit='users.album.add_medialink:submit')
        .modal-header
          h4.modal-title= self.t('title')
          button.btn-close(type='button' tabindex='-1' data-bs-dismiss='modal')
        .modal-body
          label.form-label(for='add-medialink__url')=self.t('input_url_name')
          input.form-control(
            type='text'
            id='add-medialink__url'
            name='media_url'
            tabindex='1'
            placeholder=self.t('input_url_desc'))
          .form-text= self.t('input_url_help')
            = ' '
            each provider, index in self.providers
              a(href=provider.home target='_blank')= provider.name
              if (self.providers.length - 1 !== index)
                = ', '
        .modal-footer
          button.btn.btn-secondary(type='button' tabindex='2' data-bs-dismiss='modal')= self.t('cancel')
          button.btn.btn-primary(type='submit' tabindex='3')= self.t('add')
