.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      form(data-on-submit='users.album.add_medialink:submit')
        .modal-header
          button.close(type='button' data-dismiss='modal') &times;
          h4.modal-title= self.t('title')
        .modal-body
          input.form-control(type='text' name='media_url' placeholder=self.t('input_url'))
          p.help-block= self.t('available_providers', { providers: self.providers })
        .modal-footer
          button.btn.btn-default(type='button' data-dismiss='modal')= self.t('cancel')
          button.btn.btn-primary(type='submit')= self.t('create')
