form.form-horizontal(data-bind="submit: submit", style="display: none")
  fieldset
    legend= self.t('group.options')

    .form-group.row
      label.col-form-label.col-xs-3= self.t('group.short_name')
      .col-xs-3
        input.form-control(type="text", data-bind="value: currentGroup.name, disable: currentGroup.isProtected")
        // ko if: currentGroup.localizedName()
        div(data-bind="text: currentGroup.localizedName")
        // /ko

    .form-group.row
      label.col-form-label.col-xs-3= self.t('group.inherit')
      .col-xs-3
        select.form-control.custom-select(data-bind="options: otherGroups, optionsText: 'name', optionsCaption: '" + self.t('group.inherit_none') + "', value: currentGroup.parentGroup")

    .form-group.row
      label.col-form-label.col-xs-3= self.t('filter')
      .col-xs-9
        label.radio-inline
          input(type="radio", name="filter", value="", data-bind="checked: filter")
          | 
          = self.t('filter_options.show_all')
        | 
        label.radio-inline
          input(type="radio", name="filter", value="overriden", data-bind="checked: filter")
          | 
          = self.t('filter_options.show_overriden')
        | 
        label.radio-inline
          input(type="radio", name="filter", value="forced", data-bind="checked: filter")
          | 
          = self.t('filter_options.show_forced')
        | 
        label.radio-inline
          input(type="radio", name="filter", value="inherited", data-bind="checked: filter")
          | 
          = self.t('filter_options.show_inherited')

  // ko foreach: currentGroup.categories
  fieldset
    legend(data-bind="text: localizedName")

    // ko foreach: settings
    .form-group.form-group-hover.row(data-bind="visible: visible, css: { overriden: overriden, inherited: inherited, forced: forced }")

      label.col-form-label.col-xs-3(data-bind="text: localizedName, attr: { 'for': elementId }")

      .col-xs-4.control-value
        // ko if: 'string' === valueType
        input.form-control(type="text", data-bind="value: value, valueUpdate: 'keyup', attr: { id: elementId }")
        // /ko

        // ko if: 'number' === valueType
        input.form-control(type="number", data-bind="value: value, valueUpdate: 'keyup', attr: { id: elementId }")
        // /ko

        // ko if: 'boolean' === valueType
        .switch
          input(type="checkbox", data-bind="checked: value, attr: { id: elementId }")
          label(data-yes=self.t('setting.yes'), data-no=self.t('setting.no'), data-bind="attr: { 'for': elementId }"): i
        // /ko

        // ko if: localizedHelp
        small.form-text.text-muted(data-bind="text: localizedHelp")
        // /ko

      .col-xs-4
        label.checkbox-inline(data-bind="visible: parentSetting")
          input(type="checkbox", data-bind="checked: overriden")
          | 
          = self.t('setting.override')

        label.checkbox-inline(data-bind="visible: overriden")
          input(type="checkbox", data-bind="checked: forced")
          | 
          = self.t('setting.force')

    // /ko
  // /ko

  .form-group.row
    .col-xs-9.col-xs-offset-3
      button.btn.btn-primary(type="submit", data-bind="enable: currentGroup.isDirty")
        = self.t('submit')
