if self.is_member
  if (self.settings.can_access_acp)
    .nav-vert__panel-row
      a.nav-vert__btn(
        href=self.link_to('admin.core.dashboard')
        target='_blank'
        title=self.t('admin')
      )
        span.nav-vert__btn-icon A
  .nav-vert__panel-row
    a.nav-vert__btn.nav-vert__btn-last(
      href='#'
      data-on-click=('common.blocks.logout')
      title=self.t('logout')
    )
      span.nav-vert__btn-icon.icon-logout

  //-
    ul.nav.navbar-nav.navbar-right
      li.dropdown
        a.dropdown-toggle.icon-user(href='#', data-toggle='dropdown')
          | #{self.user_name}
          b.caret
        ul.dropdown-menu
          li: a(href=self.link_to('users.profile'))= self.t('profile')
          - if (self.settings.can_access_acp)
            li: a(href=self.link_to('admin.core.dashboard'), target='_blank')= self.t('admin')
          li.divider
          li: a(href='#', data-on-click='users.auth.logout')= self.t('logout')

else
  .nav-vert__panel-row
    a.nav-vert__btn.nav-vert__btn-last(href=self.link_to('users.auth.login.show'))
      span.nav-vert__btn-icon.icon-login
