if self.is_member
  if (self.settings.can_access_acp)
    .nav-vert__panel-row
      a.nav-vert__btn(
        href=self.link_to('admin.core.dashboard')
        target='_blank'
        title=self.t('admin')
      )
        span.icon.icon-tools
  .nav-vert__panel-row
    a.nav-vert__btn.nav-vert__btn-last(
      href='#'
      data-on-click=('common.blocks.logout')
      title=self.t('logout')
    )
      span.icon.icon-logout

else
  .nav-vert__panel-row
    a.nav-vert__btn.nav-vert__btn-last(href=self.link_to('users.auth.login.show'))
      span.icon.icon-login
