.modal.fade(tabindex='-1' role='dialog')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(data-dismiss='modal')
          span(aria-hidden='true') &times;
          span.sr-only= self.t('close')
        h4.modal-title= self.t('title')

      .modal-body
        .change-avatar-upload(data-on-dragdrop='users.member.change_avatar:dd_area')
          .pull-right
            button.btn.btn-default(
              data-on-click='users.member.change_avatar:select_file'
            )= self.t('upload_avatar')
          //- Hidden
          input.change-avatar-upload__files(
            name='files[]'
            type='file'
            style='position: absolute; left: -2000px'
          )
          .change-avatar-upload__text= self.t('drag_to_upload')

        .row
          .col-md-9
            .change-avatar-image
              canvas.change-avatar-image__canvas
              .change-avatar-image__select.hidden
          .col-md-3
            canvas.change-avatar-preview

      .modal-footer
        button.btn.btn-default(type='button' data-dismiss='modal')= self.t('cancel')
        button.btn.btn-primary(type='button' data-on-click='users.member.change_avatar:apply')= self.t('apply')
