.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog
    .modal-content
      form(data-on-submit=self.apiPath + ':submit')
        .modal-header
          button.close(type='button' tabindex='-1' data-dismiss='modal') &times;
          h4.modal-title=self.t('title')
        .modal-body
          .form-group.add-infraction-type
            label=self.t('type')
            select.form-control.custom-select(name='type' tabindex='1' data-on-change=self.apiPath + ':select_type')
              option(value='custom')=self.t('custom')
              each category in self.categories
                if category.name
                  optgroup(label=self.t('@users.infractions.category_names.' + category.name))
                each type in category.types
                  option(value=type.name)=self.t('@users.infractions.types.' + type.name) + ' (' + type.points + ')'

          .form-group.add-infraction-reason
            label=self.t('reason')
            input.add-infraction-reason__input.form-control(type='text'
              tabindex='2'
              name='reason'
              placeholder=self.t('reason_help')
            )

          .form-group.add-infraction-points
            label=self.t('points')
            input.add-infraction-points__input.form-control(type='number'
              tabindex='3'
              name='points'
              value='0'
            )

          label=self.t('expire')
          .row
            .col-xs-6.form-group.add-infraction-expire
              input.add-infraction-expire__input.form-control(type='number'
                tabindex='4'
                name='expire'
                value='30'
              )
            .col-xs-6.form-group
              label.checkbox-inline.col-form-label.add-infraction-expire__checkbox-label
                input.add-infraction-expire__checkbox(type='checkbox'
                  tabindex='5'
                  data-on-change=self.apiPath + ':set_expire_never'
                )
                =' '
                =self.t('expire_never')

        .modal-footer
          button.btn.btn-secondary(type='button' tabindex='6' data-dismiss='modal')=self.t('cancel')
          button.btn.btn-danger(type='submit' tabindex='7')=self.t('ok')
