- self.add_raw_data('pagination', self.pagination);
- self.add_raw_data('dialog', self.dialog);
- self.add_raw_data('last_message_id', self.last_message_id);
- self.add_raw_data('first_message_id', self.first_message_id);

#content
  -
    var navbar_args = {
      title:    (self.users[self.dialog.to] || {}).name || '',
      level_up: self.link_to('users.dialogs_root', { user_hid: self.runtime.user_hid, dialog_id: self.dialog._id }),
      toolbar:  'users.dialog.blocks.toolbar_controls',
      progress: {
        link_top:    self.link_to('users.dialog', { dialog_id: self.dialog._id, message_id: self.first_message_id }),
        link_bottom: self.link_to('users.dialog', { dialog_id: self.dialog._id, message_id: self.last_message_id }),
        current:     self.pagination.chunk_offset,
        total:       self.pagination.total
      }
    };

  != self.partial('@common.blocks.navbar.levelup_progress_apps', navbar_args)
  != self.partial('@common.blocks.navbar.alt_levelup_progress_title_toolbar', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head
      .float-right
        != self.partial('@users.dialog.blocks.toolbar_controls')
      h1.page-head__title(itemprop='name')
        = (self.users[self.dialog.to] || {}).name || ''

    - var recipient = self.users[self.dialog.to];
    if recipient && self.can_create_dialog_with_user
      .user-messages-list-reply
        button.btn.btn-block.btn-link(
          data-dialog-id=self.dialog._id
          data-dialog-last-message=self.dialog.cache.last_message
          data-on-click='users.dialog:reply'
          data-to-nick=recipient.nick
          data-to-hid=recipient.hid
        )=self.t('reply')

    if self.messages.length === 0
      .user-messages-list-no-items=self.t('no_messages')

    else
      .user-messages-list__loading-prev.nojs-hide(
        class=(self.pagination.chunk_offset === 0 ? 'd-none' : '')
      )
        span.icon.icon-loading-placeholder

      .user-messages-list._affix(
        data-affix-top={
          offset: 500,
          wire_above: 'users.dialog:load_prev',
          throttle: 100
        }
        data-affix-bottom={
          offset: 500,
          wire_below: 'users.dialog:load_next',
          throttle: 100
        }
      )!=self.partial('@users.blocks.message_list')

      .user-messages-list__loading-next.nojs-hide(
        class=(!self.messages || self.messages.length === 0 || String(self.messages[self.messages.length - 1]._id) === String(self.last_message_id) ? 'd-none': '')
      )
        span.icon.icon-loading-placeholder
