- var user = self.users[self.blocks.usernote.user_id]

if user
  if self.blocks.usernote.html
    .member-block.usernote.markup
      .pull-right.usernote__controls
        button.btn.btn-xs.btn-link.icon.icon-edit(
          title=self.t('edit_note')
          data-on-click='users.member.blocks.usernote:edit'
          data-user-nick=user.nick
          data-user-hid=user.hid
          data-md=self.blocks.usernote.md
          data-version=self.blocks.usernote.version
        )

        button.btn.btn-xs.btn-link.icon.icon-cancel(
          title=self.t('remove_note')
          data-on-click='users.member.blocks.usernote:remove'
          data-user-hid=user.hid
        )

      != self.blocks.usernote.html
