label.col-form-label.col-3=self.t(self.name)
.col-4.control-value
  .form-control-plaintext
    a(
      href= '#'
      data-on-click= 'admin.core.blocks.location_show_dlg'
      data-latitude= self.value.location && self.value.location[1]
      data-longitude= self.value.location && self.value.location[0]
    )
      if self.value.name
        = self.value.name
      else
        = self.t('show')
