div
  .pull-right
    a.btn.btn-large.btn-primary(href=self.link_to('admin.users.usergroups.add'))
      | #{self.t('admin.users.usergroups.actions.add')}
  h1 #{self.head.title}

table.table.table-hover
  thead
    tr
      th #{self.t('admin.users.usergroups.index.group_name')}
      th #{self.t('admin.users.usergroups.index.members_count')}
      th

  - each group, group_name in self.usergroups
    tr
      td
        a.icon-edit(href=self.link_to('admin.users.usergroups.edit', { short_name:group_name }),
          title=self.t('admin.users.usergroups.actions.edit')
          )= group_name
      td: a(href='') 0
      td
        - if (!group.is_protected)
          a.pull-right(href='', id=group_name, data-on-click='admin.users.usergroups.remove')
            | #{self.t('admin.users.usergroups.actions.remove')}
