.member-block

  .member-block__header
    - var albumLink = self.link_to('users.albums_root', { 'user_hid': self.user_hid })
    h2.member-block__header-title= self.t('title')
      small.member-block__header-info: a(href=albumLink) total 8

  .member-block__inner
    ul.member-imagelist

      each media in self.photos
        - var href = self.link_to('users.media', { user_hid: self.user_hid, media_id: media._id })

        li.member-imagelist__item

          if media.type === 'image'
            - var imageUrl = self.link_to('core.gridfs', { bucket: media.file_id + '_sm' })
            a.thumb.thumb__m-sm(href=href)
              img.thumb__image(src=imageUrl)

          else if media.type === 'medialink'
            .thumb.thumb__m-sm
              a.thumb__inner(href=href)
                .thumb__icon.icon-video
                img.thumb__image(src=media.medialink_data.thumb)

          else if media.type === 'binary'
            //-a.thumb(href=self.link_to('core.gridfs', { bucket: media.file_id }))
            a.thumb.thumb__m-sm(href=href)
              .thumb__icon.icon-binary
              .thumb__content= media.file_name

          .user-medialist__item-meta.thumb-caption.thumb__m-sm
            = self.date(media.ts, 'date')
