.member-block

  .member-block__header
    - var albumsLink = self.link_to('users.albums_root', { 'user_hid': self.user.hid })
    .member-block__header-title
      a.member-block__header-collapser(href='#member-albums-info', data-toggle='collapse')
        .icon.icon-collapse
        .icon.icon-expand

      a.member-block__header-link(href=albumsLink)
        | #{self.t('title')}
        span.member-block__header-arrow.icon.icon-right-open
        small.member-block__header-counter #{self.blocks.albums.count}

  #member-albums-info.member-block__inner.collapse.show
    ul.member-block__image-list
      each album in self.blocks.albums.list
        - var href = self.link_to('users.album', { user_hid: self.user.hid, album_id: album._id })
        li.member-block__image-list-item
          a.thumb.thumb__m-sm.thumb__m-responsive(href=href)
            if album.cover_id
              - var imageUrl = self.link_to('core.gridfs', { bucket: album.cover_id + '_sm' })
              img.thumb__image(src=imageUrl)
            else
              .thumb__content No cover
            .thumb-caption
              .thumb-caption__line= album.title
              .thumb-caption__line.thumb-caption__m-secondary
                != self.timetag(album.last_ts, 'relative')
