.member-block

  .member-block__header
    .member-block__header-title
      .member-block__header-text.pull-xs-left
        = self.t('title')
      a.member-block__header-collapser(href='#member-about-info', data-toggle='collapse')
        .pull-xs-right.icon.icon-collapse
        .pull-xs-right.icon.icon-expand

  #member-about-info.member-block__inner.collapse.in

    dl.member-about__dl
      each item in self.blocks.about.list
        dt.member-about__dt=self.t(item.name)
        dd.member-about__dd
          if item.link
            a(href=item.link)=item.value
          else
            =item.value

      each item in self.blocks.about.extra
        dt.member-about__dt.member-about__dt-extra=self.t(item.name)
        dd.member-about__dd.member-about__dd-extra
          if item.link
            a(href=item.link)=item.value
          else
            =item.value

    button.btn.btn-link.member-about__show-more(
      data-on-click='users.member.blocks.about:show_more'
    )=self.t('show_more')
