#content.members-search
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    .page-head
      h1.page-head__title= self.head.title

    form.form-horizontal

      each item in self.fields

        if self.partial_exists('blocks.' + item.name)
          != self.partial('blocks.' + item.name, item)
        else
          .form-group.row
            label.col-form-label.col-3
              = self.t.exists(item.name) ? self.t(item.name) : self.t('@admin.users.about.' + item.name)
            .col-4
              input.form-control(type='text', name=item.name, value=item.value)

      .form-group.row
        .col-9
          button.btn.btn-primary(type='submit')
            = self.t('search')

    if self.search_results
      table.table.table-hover.table-striped
        thead
          tr
            th= self.t('name')
            th= self.t('email')
            th= self.t('registered')
            th= self.t('last_active')
            th= self.t('post_count')

        tbody.members-search__results._affix(
          data-affix-bottom={
            offset:     500,
            wire_below: 'admin.users.members.search:load_next',
            throttle:   100
          }
          data-search-query=   self.search_query
          data-prefetch-start= self.prefetch_start
          data-result-count=   self.search_results.length
        )
          if self.search_results.length > 0
            != self.partial('results')
          else
            tr
              td(colspan=5)= self.t('no_results')

    .members-search__loading-next.nojs-hide(
      class=(self.prefetch_start ? '' : 'd-none')
    )= self.t('loading')
