- var show_mod_dropdown = false;
- show_mod_dropdown = show_mod_dropdown || self.settings.can_see_ip;
- show_mod_dropdown = show_mod_dropdown || self.settings.users_mod_can_add_infractions;

each message in self.messages
  - var author = self.users[message.user];

  if (author && author._id === N.runtime.user_id)
    .user-messages-list-item.user-messages-list-item__m-self(
      id='message' + message._id
      data-message-id=message._id
    )
      .user-messages-list-item__content
        .user-messages-list-item__aside-inline
          if author
            a.user-messages-list-item__avatar(
              href=self.link_to('users.member', { user_hid: author.hid })
            )
              img.user-messages-list-item__avatar-image(alt=author.name)&attributes(self.avatar(author, 'sm'))
          else
            span.user-messages-list-item__avatar-image.av-anon

        .user-messages-list-item__message.markup
          !=message.html

          if (message.tail && message.tail.length)
            .user-messages-list-item__tail.markup-tail!=self.partial('@users.blocks.message_list.attachments', { message: message, author: author })

        .user-messages-list-item__controls
          span.user-messages-list-item__date!=self.timetag(message.ts, 'relative')

          span.user-messages-list-item__dropdown.dropdown.dropup
            button.user-messages-list-item__action.btn.btn-sm.btn-square.dropdown-toggle.icon.icon-dropdown-local(
              data-toggle='dropdown'
              role='button'
            )
            .dropdown-menu.dropdown-menu-right(role='menu')
              button.dropdown-item= self.t('delete')

              if self.settings.can_report_abuse
                button.dropdown-item(
                  data-message-id=message._id
                  data-on-click='users.dialog:report'
                )= self.t('report')

          if show_mod_dropdown
            span.user-messages-list-item__dropdown.dropdown.dropup
              button.user-messages-list-item__action.btn.btn-sm.btn-square.dropdown-toggle(
                data-toggle='dropdown'
                role='button'
              )
              .dropdown-menu.dropdown-menu-right(role='menu')
                if self.settings.users_mod_can_add_infractions
                  button.dropdown-item= self.t('add_infraction')

                if self.settings.can_see_ip
                  button.dropdown-item= self.t('ip_info')

      .user-messages-list-item__separator

      .user-messages-list-item__aside
        if author
          a.user-messages-list-item__avatar(
            href=self.link_to('users.member', { user_hid: author.hid })
          )
            img.user-messages-list-item__avatar-image(alt=author.name)&attributes(self.avatar(author, 'sm'))
        else
          span.user-messages-list-item__avatar-image.av-anon

  else
    .user-messages-list-item.user-messages-list-item__m-not-self(
      id='message' + message._id
      data-message-id=message._id
    )
      .user-messages-list-item__aside
        if author
          a.user-messages-list-item__avatar(
            href=self.link_to('users.member', { user_hid: author.hid })
          )
            img.user-messages-list-item__avatar-image(alt=author.name)&attributes(self.avatar(author, 'sm'))
        else
          span.user-messages-list-item__avatar-image.av-anon

      .user-messages-list-item__separator

      .user-messages-list-item__content
        .user-messages-list-item__aside-inline
          if author
            a.user-messages-list-item__avatar(
              href=self.link_to('users.member', { user_hid: author.hid })
            )
              img.user-messages-list-item__avatar-image(alt=author.name)&attributes(self.avatar(author, 'sm'))
          else
            span.user-messages-list-item__avatar-image.av-anon

        .user-messages-list-item__message.markup
          !=message.html

          if (message.tail && message.tail.length)
            .user-messages-list-item__tail.markup-tail!=self.partial('@users.blocks.message_list.attachments', { message: message, author: author })

        .user-messages-list-item__controls
          span.user-messages-list-item__date!=self.timetag(message.ts, 'relative')

          span.user-messages-list-item__dropdown.dropdown.dropup
            button.user-messages-list-item__action.btn.btn-sm.btn-square.dropdown-toggle.icon.icon-dropdown-local(
              data-toggle='dropdown'
              role='button'
            )
            .dropdown-menu.dropdown-menu-left(role='menu')
              button.dropdown-item= self.t('delete')

              if self.settings.can_report_abuse
                button.dropdown-item(
                  data-message-id=message._id
                  data-on-click='users.dialog:report'
                )= self.t('report')

          if show_mod_dropdown
            span.user-messages-list-item__dropdown.dropdown.dropup
              button.user-messages-list-item__action.btn.btn-sm.btn-square.dropdown-toggle(
                data-toggle='dropdown'
                role='button'
              )
              .dropdown-menu.dropdown-menu-right(role='menu')
                if self.settings.users_mod_can_add_infractions
                  button.dropdown-item= self.t('add_infraction')

                if self.settings.can_see_ip
                  button.dropdown-item= self.t('ip_info')
