include ./partials/_display_value

.row
  .span8.offset2.well.well-form
    form.form-horizontal(data-on-submit='admin.usergroups.create')
      - self.errors = self.errors || {}
      - var _group_class, _input_help_text

      - _group_class = ('_id' in self.errors) ? 'error' : ''
      - _input_help_text = (self.errors['_id']) ? self.errors['_id'] : self.t('admin.usergroups.form._id_help')

      .control-group(class=_group_class)
        label.control-label(for='_id') #{self.t('admin.usergroups.form._id_title')}
        .controls
          .row-fluid
            input.span12(type="text", name='_id')
            span.help-block #{_input_help_text}
      legend
      -each group, group_name in self.item_groups
        | #{group_name}
        legend

          -each item, item_name in group
            - _group_class = (item_name in self.errors) ? 'error' : ''
            - _input_help_text = (self.errors[item_name]) ? self.errors[item_name] : self.t('admin.usergroups.form.'+ item_name + '_help')

            .control-group(class=_group_class)
              label.control-label(for=item_name) #{self.t('admin.usergroups.form.' + item_name + '_title')}
              .controls
                .row-fluid
                  - if (!('value' in item))
                    - item.value = item.default
                  mixin display_value(item_name, item.value, item.type)
                  span.help-block #{_input_help_text}

      .control-group
        .controls
          button.btn.btn-primary.btn-large(type='submit') #{self.t('admin.usergroups.form.submit_button')}
