.modal.fade(tabindex='-1' role='dialog').avatar-dialog
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(data-dismiss='modal')
          span(aria-hidden='true') &times;
          span.sr-only= self.t('close')
        h4.modal-title= self.t('title')

      .modal-body
        .avatar-change(data-on-dragdrop='users.avatar.change:dd_area')
          //- Hidden
          input#avatar-change__upload(
            name='files[]'
            type='file'
            style='position: absolute; left: -2000px'
          )

          //- Should 'click' file input in context of current action
          .avatar-change__info(
            onClick='document.getElementById("avatar-change__upload").click()'
          )= self.t('drag_to_upload')

          canvas.avatar-change__canvas

          != self.partial('@users.avatar.change.cropper')

          canvas.avatar-preview

      .modal-footer
        button.btn.btn-link.pull-xs-left(
          type='button'
          onClick='document.getElementById("avatar-change__upload").click()'
        )= self.t('select')

        button.btn.btn-secondary(
          type='button'
          data-dismiss='modal'
        )= self.t('cancel')

        button.btn.btn-primary(
          type='submit'
          data-on-click='users.avatar.change:apply'
        )= self.t('ok')
