.modal.fade(tabindex='-1' role='dialog').avatar-dialog
  .modal-dialog.modal-lg(role='document')
    .modal-content
      .modal-header
        h4.modal-title= self.t('title')
        button.btn-close(data-bs-dismiss='modal')
          span.visually-hidden= self.t('close')

      .modal-body
        .avatar-change(data-on-dragdrop='users.avatar.change:dd_area')
          //- Hidden
          input#avatar-change__upload(
            name='files[]'
            type='file'
            style='position: absolute; left: -4000px'
            accept='image/*'
          )

          //- Should 'click' file input in context of current action
          .avatar-change__info.text-muted(
            onClick='document.getElementById("avatar-change__upload").click()'
          )= self.t('drag_to_upload')

          canvas.avatar-change__canvas

          != self.partial('@users.avatar.change.cropper')

          canvas.avatar-preview

      .modal-footer
        button.btn.btn-link.mr-auto(
          type='button'
          onClick='document.getElementById("avatar-change__upload").click()'
        )= self.t('select')

        button.btn.btn-secondary(
          type='button'
          data-bs-dismiss='modal'
        )= self.t('cancel')

        button.btn.btn-primary(
          type='submit'
          data-on-click='users.avatar.change:apply'
        )= self.t('ok')
