.modal.fade(tabindex='-1' role='dialog')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        button.close(data-dismiss='modal')
          span(aria-hidden='true') &times;
          span.sr-only= self.t('close')
        h4.modal-title= self.t('title')

      .modal-body.avatar-change(data-on-dragdrop='users.avatar.change:dd_area')
        //- Hidden
        input.avatar-change__upload(
          name='files[]'
          type='file'
          style='position: absolute; left: -2000px'
        )

        .avatar-change__text= self.t('drag_to_upload')
        canvas.avatar-change__canvas
        != self.partial('@users.avatar.change.cropper')

        canvas.avatar-change-preview

      .modal-footer
        button.btn.btn-link.pull-left(
          type='button'
          data-on-click='users.avatar.change:select_file'
        )= self.t('select')

        button.btn.btn-default(
          type='button'
          data-dismiss='modal'
        )= self.t('cancel')

        button.btn.btn-primary(
          type='button'
          data-on-click='users.avatar.change:apply'
        )= self.t('apply')
