.page-actions.user-messages-list__toolbar-controls
  button.btn.btn-primary.icon.icon-plus(
    data-dialog-id=self.dialog._id
    data-dialog-title=self.dialog.title
    data-dialog-last-message=self.dialog.last_message
    data-on-click='users.dialog:reply'
    type='button'
    title=self.t('reply')
  )
