each dialog in self.dialogs
  .user-dialog-list-item(
    id='dialog' + dialog._id
    data-dialog-id=dialog._id
    class=dialog.unread > 0 ? 'user-dialog-list-item__m-unread' : ''
  )
    - var to = self.users[dialog.to];

      .user-dialog-list-item__aside

        if to
          a.user-dialog-list-item__avatar._ucard-popover(
            href=self.link_to('users.member', { user_hid: to.hid })
            data-user-id=to._id
            title=to.name
          )
            img.user-dialog-list-item__avatar-image.av-l(alt=to.name)&attributes(self.avatar(to, 'md'))

      .user-dialog-list-item__content

        a.user-dialog-list-item__link(href=self.link_to('users.dialog', {
          dialog_id: dialog._id,
          message_id: dialog.cache.last_message
        }))

          .user-dialog-list-item__title=dialog.title

          .user-dialog-list-item__preview(
            class=dialog.cache.last_user === N.runtime.user_id ? 'user-dialog-list-item__preview_m-own' : ''
          )
            if to
              span.user-dialog-list-item__preview-nick=to.nick
            !=dialog.cache.preview

        .user-dialog-list-item__info
          .user-dialog-list-item__date!=self.timetag(dialog.cache.last_ts, 'relative')
          button.user-dialog-list-item__delete.btn.btn-xs.btn-default.icon.icon-deleted(
            title=self.t('delete')
            data-dialog-id=dialog._id
            data-on-click='users.dialogs_root:delete_dialog'
          )

    .clearfix
