each dialog in self.dialogs
  .dialog-list-item(
    id='dialog' + dialog._id
    data-dialog-id=dialog._id
    data-last-message=dialog.cache.last_message
    class=dialog.unread > 0 ? 'dialog-list-item__m-unread' : ''
    class=dialog.cache.last_user !== N.runtime.user_id ? '' : 'dialog-list-item__m-outgoing'
  )
    - var to = self.users[dialog.with];

    .dialog-list-item__aside
      if to
        a.dialog-list-item__aside-inner(
          href=self.link_to('users.member', { user_hid: to.hid })
        )
          img.dialog-list-item__avatar-image(alt=to.name)&attributes(self.avatar(to, 'md'))
      else
        .dialog-list-item__aside-inner
          span.dialog-list-item__avatar-image.av-anon

    .dialog-list-item__content
      .dialog-list-item__header

        .dialog-list-item__aside-inline
          if to
            a.dialog-list-item__aside-inner(
              href=self.link_to('users.member', { user_hid: to.hid })
            )
              img.dialog-list-item__avatar-image(alt=to.name)&attributes(self.avatar(to, 'md'))
          else
            .dialog-list-item__aside-inner
              span.dialog-list-item__avatar-image.av-anon

        .dialog-list-item__info
          if to
            a.dialog-list-item__talk-with(href=self.link_to('users.dialog', {
              dialog_id: dialog._id,
              message_id: dialog.cache.last_message
            }))= to.name

          .dialog-list-item__date!=self.timetag(dialog.cache.last_ts, 'relative')

        .dialog-list-item__controls
          button.dialog-list-item__delete.btn.btn-sm.btn-link.icon.icon-x(
            title=self.t('delete')
            data-dialog-id=dialog._id
            data-on-click='users.dialogs_root:delete_dialog'
          )

      .dialog-list-item__preview
        .dialog-list-item__preview-aside
          img.dialog-list-item__avatar-self()&attributes(self.avatar(self.runtime.user_id, 'sm'))

        a.dialog-list-item__preview-text(href=self.link_to('users.dialog', {
          dialog_id: dialog._id,
          message_id: dialog.cache.last_message
        }))
          !=dialog.cache.preview
