each dialog in self.dialogs
  .dialog-list-item(
    id='dialog' + dialog._id
    data-dialog-id=dialog._id
    class=dialog.unread > 0 ? 'dialog-list-item__m-unread' : ''
    class=dialog.cache.last_user !== N.runtime.user_id ? 'dialog-list-item__m-incoming' : ''
  )
    - var to = self.users[dialog.to];

    .dialog-list-item__aside
      if to
        a.dialog-list-item__aside-inner(
          href=self.link_to('users.member', { user_hid: to.hid })
        )
          span.dialog-list-item__avatar-image-aside-left.icon.icon-right-open

          img.dialog-list-item__avatar-image(alt=to.name)&attributes(self.avatar(to, 'md'))

          span.dialog-list-item__avatar-image-aside-right.icon.icon-right-open
      else
        .dialog-list-item__aside-inner
          span.dialog-list-item__avatar-image-aside-left.icon.icon-right-open

          span.dialog-list-item__avatar-image.av-anon

          span.dialog-list-item__avatar-image-aside-right.icon.icon-right-open

    .dialog-list-item__content
      .dialog-list-item__header

        .dialog-list-item__aside-inline
          if to
            a.dialog-list-item__aside-inner(
              href=self.link_to('users.member', { user_hid: to.hid })
            )
              span.dialog-list-item__avatar-image-aside-left.icon.icon-right-open

              img.dialog-list-item__avatar-image(alt=to.name)&attributes(self.avatar(to, 'md'))

              span.dialog-list-item__avatar-image-aside-right.icon.icon-right-open
          else
            .dialog-list-item__aside-inner
              span.dialog-list-item__avatar-image-aside-left.icon.icon-right-open

              span.dialog-list-item__avatar-image.av-anon

              span.dialog-list-item__avatar-image-aside-right.icon.icon-right-open

        .dialog-list-item__info
          if to
            a.dialog-list-item__talk-with(href=self.link_to('users.dialog', {
              dialog_id: dialog._id,
              message_id: dialog.cache.last_message
            }))= to.name

          .dialog-list-item__meta
            .dialog-list-item__date!=self.timetag(dialog.cache.last_ts, 'relative')

            .dialog-list-item__controls
              button.dialog-list-item__delete.btn.btn-sm.btn-link.icon.icon-x(
                title=self.t('delete')
                data-dialog-id=dialog._id
                data-on-click='users.dialogs_root:delete_dialog'
              )

      a.dialog-list-item__preview(href=self.link_to('users.dialog', {
        dialog_id: dialog._id,
        message_id: dialog.cache.last_message
      }))
        !=dialog.cache.preview
