each html in self.announces_raw || []
  != html

each announce in self.announces || []
  - var can_hide = !!announce.hide_days

  .announce.alert.alert-warning(
    class=can_hide ? 'alert-dismissible fade show' : ''
  )
    if can_hide
      button.btn-close(
        data-bs-dismiss='alert'
        aria-label='close'
        data-on-click='common.blocks.announces:hide'
        data-announce-id=announce.id
      )
    != self.t('@common.announces.' + announce.id)
