- self.add_raw_data('profile_tab', true)

#content
  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    .row
      .col-sm-8.offset-sm-2
        .card

          h1.card-header.h3= self.head.title

          form.card-block(data-on-submit='users.album.edit:save')
            input(
              type='hidden'
              value=self.album._id
              name='album_id'
            )

            .form-group
              label= self.t('title_input_name')
              input.form-control(
                name='title'
                id='album-edit__title'
                placeholder=self.t('title_input_desc')
                value=self.album.title
              )

            .form-group
              label= self.t('description_input_name')
              textarea.form-control(
                name='description'
                placeholder=self.t('description_input_desc')
              )= self.album.description

            - var state_class = self.album.cover_id ? 'has-cover' : '';
            #album-edit__cover(class=state_class)

              .form-group.album-edit__cover
                label= self.t('cover_input_name')

                p: a.thumb.thumb__m-sm(
                  href='#'
                  data-on-click='users.album.edit:select_cover'
                )
                  img#album-edit__cover-img.thumb__image(
                    src=self.album.cover_id ? self.link_to('core.gridfs', { 'bucket': self.album.cover_id + '_sm' }) : ''
                  )

                input(
                  type='hidden'
                  value=self.album.cover_id || ''
                  name='cover_id'
                )

            button.btn.btn-primary(type='submit')= self.t('save')
