- self.add_raw_data('profile_tab', true)

#content
  != self.partial('@common.blocks.breadcrumbs')

  .row
    .col-sm-8.col-sm-offset-2
      .panel.panel-default

        .panel-heading
          .panel-title= self.head.title

        form.panel-body(data-on-submit='users.album.edit:save')
          input(
            type='hidden'
            value=self.album._id
            name='album_id'
          )

          .form-group
            label= self.t('title_input_name')
            input.form-control(
              name='title'
              placeholder=self.t('title_input_desc')
              value=self.album.title
            )

          .form-group
            label= self.t('description_input_name')
            textarea.form-control(
              name='description'
              placeholder=self.t('description_input_desc')
            )= self.album.description

          .form-group
            label= self.t('cover_input_name')
            - var state_class = self.album.cover_id ? 'has-cover' : '';
            #album-edit__cover(class=state_class)

              .album-edit__cover
                img#album-edit__cover-img(
                  data-on-click='users.album.edit:select_cover'
                  src=self.link_to('core.gridfs', { 'bucket': self.album.cover_id + '_sm' })
                )
                button.btn.btn-default.btn-xs.btn-icon-only.icon-cancel.album-edit__cover-delete(
                  data-on-click='users.album.edit:reset_cover'
                )

              .album-edit__no-cover
                button.btn.btn-default.btn-link(
                  data-on-click='users.album.edit:select_cover'
                )= self.t('cover_select')
                p.help-block= self.t('cover_input_desc')

              input(
                type='hidden'
                value=self.album.cover_id || ''
                name='cover_id'
              )

          button.btn.btn-primary(type='submit')= self.t('save')
          button.btn.btn-link.pull-right(
            type='button'
            data-on-click='users.album.edit:delete'
            data-album-id=self.album._id
          )= self.t('delete')

