p
  - var profile_name = pug.escape(self.author.user_name);
  - var profile_url = pug.escape(self.link_to('users.member', { user_hid: self.author.user_hid }));
  !=self.t('header', { url: '<a href="' + profile_url + '">' + profile_name + '</a>' })

blockquote=self.report_text

p: a(href=self.src_url)=self.t('to')

blockquote!=self.src_html

if self.recipients && self.recipients.length
  p=self.t('message_sent_to')
    each recipient, index in self.recipients
      a(href=self.link_to('users.member', { user_hid: recipient.user_hid }))=recipient.user_name
      if index !== self.recipients.length - 1
       | , 

p: a(href=self.report_topic_url)=self.t('report_topic')
