- var name    = self.name
- var item    = self.item
- var handler = self.handler

- var _status_class = ''

- if (self.t.exists('@admin.setting.' + name + '_help'))
- _input_help_text = self.t('@admin.setting.' + name + '_help')
- else
- _input_help_text = null

- if (!('value' in item))
  - value = item.default
- else
  - value = item.value

- if (item.overriden)
  - _status_class = 'overriden';
- else
  - _status_class = 'inherited';

.control-group(class=_status_class, id='cg_' + name)
  label.control-label(for='s_'+name) #{self.t('@admin.setting.' + name)}
  .controls
    .row-fluid
      .span6.cg-control
        case item.type
          when 'number'
            != self.partial('@admin.blocks.display_number', { name: name, value: value, handler: handler, help_text: _input_help_text })
          when 'string'
            != self.partial('@admin.blocks.display_string', { name: name, value: value, handler: handler, help_text: _input_help_text })
          when 'boolean'
            != self.partial('@admin.blocks.display_boolean', { name: name, value: value, handler: handler, help_text: _input_help_text })
          default
            != self.partial('@admin.blocks.display_string', { name: name, value: value, handler: handler, help_text: _input_help_text })
      .span6.cg-ext
        label.checkbox
          input(
            type="checkbox",
            id='so_' + name,
            checked=(item.overriden),
            data-on-change='admin.users.usergroups.override_toggle')
          |  #{self.t('override')}
