<!-- ko with: about.#{self.name} -->
label.form-label.user-settings-about-field__label=self.t('birthday')

// ko if: readonly
input.form-control(
  type='text',
  data-bind='value: value, valueUpdate: "keyup", css: { "is-invalid": hasError }',
  disabled
)
// /ko

// ko ifnot: readonly
.input-group.user-settings-about-birthday
  input.form-control(
    type='text',
    data-bind='value: value, valueUpdate: "keyup", css: { "is-invalid": hasError }',
    readonly
  )
// /ko

// /ko
