- if (!self.current)
  - self.current = { parent: null }

- _input_help_text = self.t('admin.users.usergroups.edit.parent_help')

.control-group
  label.control-label(for='parent') #{self.t('admin.users.usergroups.edit.parent_title')}
  .controls
    select(name="parent")
      option(value='', selected=!self.current.parent) #{self.t('admin.users.usergroups.edit.no_parent')}
      - if (self.usergroups)
        - each group in self.usergroups
            group_selected = (self.current.parent == group._id)

            option(value=group._id, selected=group_selected) #{group.short_name}
    span.help-block #{_input_help_text}
