- _group_class = ('parent_group' in self.errors) ? 'error' : ''
- _input_help_text = (self.errors['parent_group']) ? self.errors['parent_group'] : self.t('admin.users.usergroups.form.parent_group_help')

.control-group(class=_group_class)
  label.control-label(for='parent_group') #{self.t('admin.users.usergroups.form.parent_group_title')}
  .controls
    .row-fluid
      select(id="parent_group", name="parent_group")
        option(selected=!self.parent_group)
        - if (self.usergroups)
          -each group in self.usergroups
            group_selected = (self.parent_group && self.parent_group === group._id)
            option(value=group._id, selected=group_selected) #{group.short_name}
      span.help-block #{_input_help_text}
