- self.users = self.users || {};
- self.add_raw_data('tracker_type', self.type)
- self.add_raw_data('tracker_next', self.next)

#content.user-tracker
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid._affix(
    data-affix-bottom={
      offset:     500,
      wire_below: 'users.tracker:load_next',
      throttle:   100
    }
  )
    != self.partial('@users.blocks.announces')

    .user-tracker__filter.nav
      a.nav-link.btn.btn-sm.btn-outline-success(href=self.link_to('users.tracker'))= self.t('tracker')
      a.nav-link.btn.btn-sm.btn-outline-secondary(href=self.link_to('users.subscriptions.index'))= self.t('subscriptions')

    ul.nav.nav-tabs-underlined(role='tablist')
      each tab in self.tabs
        li.user-tracker-tab.nav-item(role='presentation')
          a.nav-link(
            href=self.link_to('users.tracker', { $query: { type: tab.type } })
            class=(self.type === tab.type ? 'active' : '')
          )
            = self.t('@users.tracker.menu.' + tab.type)
            span.user-tracker__tab-counter(title=tab.count)
              = '(' + tab.count + ')'

    if self.items.length === 0
      .user-tracker__no-items=self.t('nothing_new')

    else
      .user-tracker-items
        != self.partial('@users.tracker.items')

    .user-tracker__loading-next.nojs-hide(
      class=(!self.next ? 'd-none' : '')
    )
      span.icon.icon-loading-placeholder
