- self.users = self.users || {};
- self.add_raw_data('tracker_type', self.type)
- self.add_raw_data('reached_end', self.reached_end)
- self.add_raw_data('mark_cut_ts', self.mark_cut_ts)

#content.user-tracker
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    .user-tracker__filter
      a.btn.btn-outline-success(href=self.link_to('users.tracker'))= self.t('tracker')
      a.btn.btn-outline-secondary(href=self.link_to('users.subscriptions'))= self.t('subscriptions')
      button.btn.btn-outline-secondary.btn-square.icon.icon-check-single(
        type='button'
        data-on-click='users.tracker:mark_tab_read'
        data-marker-types= self.tabs.filter(function (tab) { return self.type === tab.type; }).map(function (tab) { return tab.marker_type; }).flat()
        title=self.t('mark_tab_read')
      )
      button.btn.btn-outline-secondary.btn-square.icon.icon-check(
        type='button'
        data-on-click='users.tracker:mark_all_read'
        data-marker-types= self.tabs.map(function (tab) { return tab.marker_type; }).flat()
        title=self.t('mark_all_read')
      )

    ul.content-tabs
      each tab in self.tabs
        li.content-tabs-item
          a.content-tabs-link(
            href=self.link_to('users.tracker', { $query: { type: tab.type } })
            class=(self.type === tab.type ? 'active' : '')
          )
            = self.t('@users.tracker.menu.' + tab.type)
            span.content-tabs-counter= tab.count

    if self.items.length === 0
      .user-tracker__no-items=self.t('nothing_new')

    else
      .user-tracker-items
        != self.partial('@users.tracker.blocks.' + self.type)

      .user-tracker__loading-next.nojs-hide(
        class=(!self.next ? 'd-none' : '')
      )
        span.icon.icon-loading-placeholder
