//- Focus on `to` field if it is not filled or focus on `title` (editor will search element with tabindex = 1)
.mdedit-header__addon
  input.dialogs-create__to.form-control(
    placeholder=self.t('to')
    value=self.to
    tabindex=self.to ? -1 : 1
  )
.mdedit-header__addon
  input.dialogs-create__title.form-control(
    placeholder=self.t('title')
    value=self.title
    tabindex=self.to ? 1 : 2
  )
