.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      form(novalidate, data-on-submit='users.album.create:submit')

        .modal-header
          h4.modal-title= self.t('title')
          button.btn-close(
            aria-hidden='true'
            type='button'
            data-bs-dismiss='modal'
            tabindex='-1'
          )

        .modal-body
          label(for='album_name_dlg_input')=self.t('input_name')
          input#album_name_dlg_input.form-control(
            type='text'
            name='album_name'
            tabindex='1'
            placeholder=self.t('input_desc')
            pattern='.*\\S.*'
            required
          )

        .modal-footer
          button.btn.btn-secondary(type='button' tabindex='2' data-bs-dismiss='modal')= self.t('cancel')
          button.btn.btn-primary(type='submit' tabindex='3')= self.t('create')

