form.form-horizontal(data-bind="submit: $root.saveChanges")
  fieldset(data-bind="with: $root.currentGroup")
    div.control-group
      label.control-label= self.t('group.short_name')
      div.controls
        input(type="text", data-bind="value: currentName, disable: isProtected")
        div(data-bind="text: localizedName")
        span.help-block= self.t('group.short_name_help')

  fieldset
    div.control-group
      label.control-label= self.t('group.inherit')
      div.controls
        select(data-bind="options: $root.otherGroups, optionsText: 'currentName', optionsCaption: '#{self.t('group.inherit_none')}'")

    div.control-group
      label.control-label= self.t('filter')
      div.controls
        label.radio
          input(type="radio", name="filter", value="all", data-bind="checked: showSettings")
          = self.t('filter_options.show_all')

        label.radio
          input(type="radio", name="filter", value="inherited", data-bind="checked: showSettings")
          = self.t('filter_options.show_inherited')

        label.radio
          input(type="radio", name="filter", value="overriden", data-bind="checked: showSettings")
          = self.t('filter_options.show_overriden')

        label.radio
          input(type="radio", name="filter", value="forced", data-bind="checked: showSettings")
          = self.t('filter_options.show_forced')

  // ko foreach: $root.currentGroup.settingCategories
  fieldset
    legend(data-bind="text: localizedName")

    // ko foreach: $root.currentGroup.settingModels[name]
    div.control-group
      label.control-label(data-bind="text: localizedName, attr: { 'for': id }")
      div.controls
        // ko if: 'string' === type
        input(type="text", data-bind="enable: currentOverrideFlag, value: currentValue, valueUpdate: 'keyup', attr: { id: id }")
        // /ko

        // ko if: 'number' === type
        input(type="number", data-bind="enable: currentOverrideFlag, value: currentValue, valueUpdate: 'keyup', attr: { id: id }")
        // /ko

        // ko if: 'boolean' === type
        input(type="checkbox", data-bind="enable: currentOverrideFlag, checked: currentValue, attr: { id: id }")
        // /ko

        div
          label.checkbox.inline
            input(type="checkbox", data-bind="enable: true, checked: currentOverrideFlag")
            = self.t('setting.override')

          label.checkbox.inline
            input(type="checkbox", data-bind="enable: currentOverrideFlag, checked: currentForceFlag")
            = self.t('setting.force')

        span.help-block(data-bind="if: localizedHelp, text: localizedHelp")
    // /ko
  // /ko

  div
    button.btn.btn-primary(type="submit", data-bind="enable: $root.currentGroup.isModified")
      = self.t('submit')
