form.form-horizontal(data-bind="submit: $root.submit", style="display: none")
  fieldset(data-bind="with: $root.currentGroup")
    div.control-group
      label.control-label= self.t('group.short_name')
      div.controls
        input(type="text", data-bind="value: name, disable: isProtected")
        div(data-bind="if: localizedName, text: localizedName")
        span.help-block= self.t('group.short_name_help')

  fieldset
    div.control-group
      label.control-label= self.t('group.inherit')
      div.controls
        select(data-bind="options: $root.otherGroups, optionsText: 'name', optionsCaption: '#{self.t('group.inherit_none')}', value: $root.currentGroup.parent")

    div.control-group
      label.control-label= self.t('filter')
      div.controls
        label.radio
          input(type="radio", name="filter", value="all", data-bind="checked: $root.settingsFilter")
          = self.t('filter_options.show_all')

        label.radio
          input(type="radio", name="filter", value="inherited", data-bind="checked: $root.settingsFilter")
          = self.t('filter_options.show_inherited')

        label.radio
          input(type="radio", name="filter", value="overriden", data-bind="checked: $root.settingsFilter")
          = self.t('filter_options.show_overriden')

        label.radio
          input(type="radio", name="filter", value="forced", data-bind="checked: $root.settingsFilter")
          = self.t('filter_options.show_forced')

  // ko foreach: $root.currentGroup.categories
  fieldset
    legend(data-bind="text: localizedName")

    // ko foreach: settings
    div.control-group(data-bind="visible: visible, css: { overriden: overriden, inherited: inherited, forced: forced }")
      label.control-label(data-bind="text: localizedName, attr: { 'for': id }")
      div.controls
        // ko if: 'string' === type
        input(type="text", data-bind="enable: editable, value: value, valueUpdate: 'keyup', attr: { id: id }")
        // /ko

        // ko if: 'number' === type
        input(type="number", data-bind="enable: editable, value: value, valueUpdate: 'keyup', attr: { id: id }")
        // /ko

        // ko if: 'boolean' === type
        div.switch
          input(type="checkbox", data-bind="enable: editable, checked: value, attr: { id: id }")
          label(data-yes=self.t('setting.yes'), data-no=self.t('setting.no'), data-bind="attr: { 'for': id }"): i
        // /ko

        div
          label.checkbox.inline
            input(type="checkbox", data-bind="enable: parent, checked: overriden")
            = self.t('setting.override')

          label.checkbox.inline
            input(type="checkbox", data-bind="enable: overriden, checked: forced")
            = self.t('setting.force')

        span.help-block(data-bind="if: localizedHelp, text: localizedHelp")
    // /ko
  // /ko

  div
    button.btn.btn-primary(type="submit", data-bind="enable: $root.currentGroup.isModified")
      = self.t('submit')
