form.form-horizontal(data-bind="submit: submit", style="display: none")
  fieldset
    div.control-group
      label.control-label= self.t('@admin.users.usergroups.form.group.short_name')
      div.controls
        input(type="text", data-bind="value: currentGroup.name, disable: currentGroup.isProtected")
        div(data-bind="if: currentGroup.localizedName, text: currentGroup.localizedName")
        span.help-block= self.t('@admin.users.usergroups.form.group.short_name_help')

  fieldset
    div.control-group
      label.control-label= self.t('@admin.users.usergroups.form.group.inherit')
      div.controls
        select(data-bind="options: otherGroups, optionsText: 'name', optionsCaption: '#{self.t('@admin.users.usergroups.form.group.inherit_none')}', value: currentGroup.parentGroup")

    div.control-group
      label.control-label= self.t('@admin.users.usergroups.form.filter')
      div.controls
        label.radio
          input(type="radio", name="filter", value="", data-bind="checked: filter")
          = self.t('@admin.users.usergroups.form.filter_options.show_all')

        label.radio
          input(type="radio", name="filter", value="inherited", data-bind="checked: filter")
          = self.t('@admin.users.usergroups.form.filter_options.show_inherited')

        label.radio
          input(type="radio", name="filter", value="overriden", data-bind="checked: filter")
          = self.t('@admin.users.usergroups.form.filter_options.show_overriden')

        label.radio
          input(type="radio", name="filter", value="forced", data-bind="checked: filter")
          = self.t('@admin.users.usergroups.form.filter_options.show_forced')

  // ko foreach: currentGroup.categories
  fieldset
    legend(data-bind="text: localizedName")

    // ko foreach: settings
    div.control-group(data-bind="visible: visible, css: { overriden: overriden, inherited: inherited, forced: forced }")
      label.control-label(data-bind="text: localizedName, attr: { 'for': elementId }")
      div.controls
        div
          label.checkbox.inline(data-bind="visible: parentSetting")
            input(type="checkbox", data-bind="checked: overriden")
            = self.t('@admin.users.usergroups.form.setting.override')

          label.checkbox.inline(data-bind="visible: overriden")
            input(type="checkbox", data-bind="checked: forced")
            = self.t('@admin.users.usergroups.form.setting.force')

        // ko if: 'string' === valueType
        input(type="text", data-bind="value: value, valueUpdate: 'keyup', attr: { id: elementId }")
        // /ko

        // ko if: 'number' === valueType
        input(type="number", data-bind="value: value, valueUpdate: 'keyup', attr: { id: elementId }")
        // /ko

        // ko if: 'boolean' === valueType
        div.switch
          input(type="checkbox", data-bind="checked: value, attr: { id: elementId }")
          label(data-yes=self.t('@admin.users.usergroups.form.setting.yes'), data-no=self.t('@admin.users.usergroups.form.setting.no'), data-bind="attr: { 'for': elementId }"): i
        // /ko

        span.help-block(data-bind="if: localizedHelp, text: localizedHelp")
    // /ko
  // /ko

  div
    button.btn.btn-primary(type="submit", data-bind="enable: currentGroup.isModified")
      = self.t('@admin.users.usergroups.form.submit')
