-  self.icon = function(type) {
-   var types = '$$ JSON.stringify(N.models.users.Subscription.types) $$'
-
-   switch(type) {
-     case types.WATCHING:
-       return 'icon-track-watching';
-     case types.TRACKING:
-       return 'icon-track-tracking';
-     case types.NORMAL:
-       return 'icon-track-normal';
-     case types.MUTED:
-       return 'icon-track-muted';
-   }
- }

#content.user-subscriptions-root
  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head
      h1.page-head__title(itemprop='name')= self.t('title')
      p.page-head__descr.hidden-xs-down(itemprop='description')

    ul.nav.nav-tabs(role='tablist')
      - var i = 0;
      each tab in self.tabs
        li.user-subscriptions-tab.nav-item(role='presentation')
          a.nav-link(
            href=('#' + tab.block_name)
            aria-controls='forum-topics'
            role='tab'
            data-toggle='tab'
            class=(i === 0) ? 'active' : ''
          )
            =self.t('@users.subscriptions.' + tab.block_name)
            | 
            span.user-subscriptions-tab__badge.badge(
              data-count=tab.items.length
              class='user-subscriptions-tab__badge-' + tab.block_name
            )
        - i++;

    .tab-content
      - i = 0;
      each tab in self.tabs
        .user-subscriptions-tab-pane.tab-pane(role='tabpanel'
          class=(i === 0) ? 'active' : ''
          data-count=tab.items.length
          data-block-name=tab.block_name
          id=tab.block_name
        )
          ul.user-subscriptions-list
            each item in tab.items
              !=self.partial('@users.subscriptions.blocks.' + tab.block_name, { item: item, block_name: tab.block_name })
          .user-subscriptions-tab-pane__empty=self.t('no_subscriptions')
        - i++;
