- self.add_raw_data('mark_cut_ts', self.mark_cut_ts)

-  self.icon = function(type) {
-   var types = '$$ JSON.stringify(N.models.users.Subscription.types) $$'
-
-   switch(type) {
-     case types.WATCHING:
-       return 'icon-track-watching';
-     case types.TRACKING:
-       return 'icon-track-tracking';
-     case types.NORMAL:
-       return 'icon-track-normal';
-     case types.MUTED:
-       return 'icon-track-muted';
-   }
- }

#content.user-subscriptions-root
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    .user-tracker__filter
      a.btn.btn-outline-secondary(href=self.link_to('users.tracker'))= self.t('tracker')
      a.btn.btn-outline-success(href=self.link_to('users.subscriptions.index'))= self.t('subscriptions')
      button.btn.btn-outline-secondary.btn-square.icon.icon-check-single(
        type='button'
        data-on-click='users.subscriptions:mark_tab_read'
        title=self.t('mark_tab_read')
      )
      button.btn.btn-outline-secondary.btn-square.icon.icon-check(
        type='button'
        data-on-click='users.subscriptions:mark_all_read'
        data-marker-types= self.tabs.filter(function (tab) { return self.type === tab.type; }).map(function (tab) { return tab.marker_type; }).flat()
        title=self.t('mark_all_read')
      )

    ul.content-tabs.nav
      each tab, idx in self.tabs
        li.content-tabs-item
          a.content-tabs-link(
            class=(idx === 0) ? 'active' : ''
            data-bs-toggle='tab'
            href=('#' + tab.block_name)
          )
            = self.t('@users.subscriptions.' + tab.block_name)
            span.content-tabs-counter= tab.items.length

    .tab-content
      each tab, idx in self.tabs
        .user-subscriptions-tab-pane.tab-pane(role='tabpanel'
          class=(idx === 0) ? 'active' : ''
          data-count=tab.items.length
          data-block-name=tab.block_name
          data-marker-types= [ tab.marker_type ].flat()
          id=tab.block_name
        )
          .user-subscriptions-list
            !=self.partial('@users.subscriptions.blocks.' + tab.block_name, { items: tab.items, block_name: tab.block_name })
          .user-subscriptions-tab-pane__empty=self.t('no_subscriptions')
