#content.user-settings-account
  -
    const navbar_base = {
      level_up: self.link_to('users.member', { user_hid: self.runtime.user_hid })
    };

  != self.partial('@common.blocks.navbar.levelup_apps', navbar_base)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@common.blocks.announces')
    != self.partial('@users.settings.tabs', { active: 'account' })

    form.form.user-settings__tab-content.user-settings__m-narrow
      .mb-3
        label.form-label= self.t('current_email')
        input.form-control(type='text', value=self.email, readonly)

      .mb-3
        a.btn.btn-secondary.col-12(
          href=self.link_to('users.settings.account.change_email.request_show')
        )= self.t('request_email_change')

      .mb-3
        button.btn.btn-secondary.col-12(
          type='button'
          data-on-click='users.settings.account:change_password'
        )= self.t('request_password_change')

      if self.active_sessions.length
        fieldset.user-settings-account__active-sessions
          legend= self.t('active_sessions')

          each session in self.active_sessions
            .user-settings-account__session
              if !session.current
                .user-settings-account__logout
                  button.user-settings-account__logout-btn.btn.btn-link.icon.icon-x(
                    href='#'
                    type='button'
                    data-on-click='users.settings.account:close_session'
                    data-authsession-id=session._id
                    title=self.t('logout')
                  )

              .user-settings-account__ts
                if session.current
                  = self.t('current')
                else
                  != self.timetag(session.last_ts, 'relative_full')

              .user-settings-account__device(title=session.user_agent)= session.device
              .user-settings-account__ip= session.ip

      if self.closed_sessions.length
        fieldset.user-settings-account__closed-sessions
          legend= self.t('closed_sessions')

          each session in self.closed_sessions
            .user-settings-account__session
              .user-settings-account__ts!= self.timetag(session.last_ts, 'relative_full')
              .user-settings-account__device(title=session.user_agent)= session.device
              .user-settings-account__ip= session.ip
