- var own_page = (self.runtime.user_hid === self.user_hid)
- self.add_raw_data('profile_tab', own_page)

#content.user-album-root(class=self.media.length === 0 ? 'no-files' : '')
  -
    const navbar_base = {
      level_up: self.link_to('users.albums_root', { user_hid: self.user_hid })
    };

  != self.partial('@common.blocks.navbar.levelup_apps', navbar_base)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@common.blocks.announces')

    header.page-head
      h1.page-head__title(itemprop='name')
        .float-end
          != self.partial('@users.album.blocks.page_actions')

        = self.album ? self.album.title : self.t('title_all_files')

      if self.album && self.album.description
        p.page-head__descr(itemprop='description')= self.album.description

    if own_page && self.album
      .user-album-upload.text-muted.d-none.d-md-block(
        data-on-dragdrop='users.album:dd_area'
      )
        = self.t('drag_to_upload')

    - self.add_raw_data('prev_media', self.prev_media)
    - self.add_raw_data('next_media', self.next_media)

    .user-album-root__loading-prev.nojs-hide(
      class=(!self.prev_media ? 'd-none' : '')
    )
      span.icon.icon-loading-placeholder

    ul#users-media-list.user-medialist.thumb-grid.thumb-grid__m-fluid
      != self.partial('@users.album.list')

    .user-album-root__loading-next.nojs-hide(
      class=(!self.next_media ? 'd-none' : '')
    )
      span.icon.icon-loading-placeholder

    nav.pager.js-hide
      - var link = self.link_to(self.apiPath, { user_hid: self.user_hid, album_id: self.album && self.album._id, media_id: self.prev_media });
      a.btn.btn-secondary(href=link)= self.t('prev_page')

      - var link = self.link_to(self.apiPath, { user_hid: self.user_hid, album_id: self.album && self.album._id, media_id: self.next_media });
      a.btn.btn-secondary(href=link)= self.t('next_page')

    p.user-album-root__no-files= self.t('no_files')
