-
  var own_page = (self.runtime.user_hid === self.user_hid)
  var menu_rnd_id = 'rnd' + String(Math.random()).slice(2, 10)

  self.add_raw_data('profile_tab', own_page)

#content.user-album-root(class=self.media.length === 0 ? 'no-files' : '')
  - var navbar_args = { level_up: self.link_to('users.albums_root', { user_hid: self.user_hid }) };
  != self.partial('@common.blocks.navbar.levelup_apps', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    header.page-head
      h1.page-head__title(itemprop='name')
        .page-actions.float-right
          //- Hidden
          input#user-album-upload__files(
            name='files[]'
            type='file'
            style='position: absolute; left: -2000px'
            multiple
          )

          //- Should 'click' file input in context of current action
          if own_page && self.album
            button.btn.btn-secondary(
              onClick='document.getElementById("user-album-upload__files").click()'
            )= self.t('select_files')

          if own_page && self.album
            .page-actions__dropdown

              button.btn.btn-secondary.btn-square.icon.icon-dropdown.dropdown-toggle(
                type='button'
                id=menu_rnd_id
                aria-haspopup='true'
                aria-expanded='false'
                data-toggle='dropdown'
              )

              .dropdown-menu.dropdown-menu-right(aria-labelledby=menu_rnd_id)
                button.dropdown-item(
                  data-on-click='users.album:add_medialink'
                  data-providers=self.medialink_providers
                )= self.t('add_medialink')

                if !self.album.default
                  .dropdown-divider

                  a.dropdown-item(
                    href=self.link_to('users.album.edit', { 'user_hid': self.user_hid, 'album_id': self.album._id })
                  )=self.t('edit')

                  a.dropdown-item(href='#'
                    data-on-click='users.album:delete'
                  )=self.t('delete')

        = self.album ? self.album.title : self.t('title_all_files')

      if self.album && self.album.description
        p.page-head__descr(itemprop='description')= self.album.description

    if own_page && self.album
      .user-album-upload.text-muted.d-none.d-md-block(
        data-on-dragdrop='users.album:dd_area'
      )
        = self.t('drag_to_upload')

    - self.add_raw_data('prev_media', self.prev_media)
    - self.add_raw_data('next_media', self.next_media)

    .user-album-root__loading-prev.nojs-hide(
      class=(!self.prev_media ? 'd-none' : '')
    )
      span.icon.icon-loading-placeholder

    ul#users-media-list.user-medialist.thumb-grid.thumb-grid__m-fluid._affix(
      data-affix-top={
        offset:     160,
        wire_above: 'users.album:load_prev',
        throttle:   100
      }
      data-affix-bottom={
        offset:     160,
        wire_below: 'users.album:load_next',
        throttle:   100
      }
    )!= self.partial('@users.album.list')

    .user-album-root__loading-next.nojs-hide(
      class=(!self.next_media ? 'd-none' : '')
    )
      span.icon.icon-loading-placeholder

    nav.pager.js-hide
      - var link = self.link_to(self.apiPath, { user_hid: self.user_hid, album_id: self.album && self.album._id, media_id: self.prev_media });
      a.btn.btn-secondary(href=link)= self.t('prev_page')

      - var link = self.link_to(self.apiPath, { user_hid: self.user_hid, album_id: self.album && self.album._id, media_id: self.next_media });
      a.btn.btn-secondary(href=link)= self.t('next_page')

    p.user-album-root__no-files= self.t('no_files')
