- var own_page = (self.runtime.user_hid === self.user_hid)
- self.add_raw_data('profile_tab', own_page)

#content.user-album-page(class=self.medias.length === 0 ? 'no-files' : '')
  != self.partial('@users.blocks.breadcrumbs')

  .breadcrumbs
    if own_page && self.album && !self.album.default
      a.btn.btn-default.btn-sm.icon.icon-edit(
        href=self.link_to('users.album.edit', { 'user_hid': self.user_hid, 'album_id': self.album._id })
        title=self.t('edit')
      )

  header.page-head
    h1.page-head__title(itemprop='name')
      = self.album ? self.album.title : self.t('title_all_files')
    if self.album && self.album.description
      p.page-head__descr(itemprop='description')= self.album.description

  if own_page && self.album
    .user-album-upload.panel.panel-default(data-on-dragdrop='users.album:dd_area')
      .pull-right
        button.btn.btn-default(
          data-on-click='users.album:select_files'
        )= self.t('select_files')

        button.btn.btn-default(
          data-on-click='users.album:add_medialink'
          data-providers=self.medialink_providers
        )= self.t('add_medialink')

        //- Hidden
        input.user-album-upload__files(
          name='files[]'
          type='file'
          style='position: absolute; left: -2000px'
          multiple
        )

      .user-album-upload__text
        = self.t('drag_to_upload')

  ul#users-medias-list.user-medialist.thumb-grid.thumb-grid__m-responsive._affix(
    data-affix={
      'bottom': 160,
      'wire': 'users.album:append_more_medias',
      'class': 'append-more-photos'
    }
    data-has-next-page=self.has_next_page
    data-last-media-id=self.medias.length > 0 ? self.medias[self.medias.length - 1].media_id : null
  )!= self.partial('@users.album.list')

  p.user-album-page__no-files= self.t('no_files')
