if self.medias.length === 0
  .media-select-dlg__no-files= self.t('no_files')
else
  ul
    each media in self.medias

      li.media-select-dlg__media(
        id='media-select-dlg__media-' + media.file_id
        data-file-id=media.file_id
        data-file-name=media.file_name
        data-type=media.type
        data-on-click='users.blocks.media_select_dlg:media_select'
      )

        if media.type === 'image'
          - var imageUrl = self.link_to('core.gridfs', { bucket: media.file_id + '_sm' })
          .thumb.thumb__m-responsive
            img.thumb__image(src=imageUrl)

        else if media.type === 'medialink'
          .thumb.thumb__m-responsive
            .thumb__inner
              .thumb__icon.icon.icon-video
              img.thumb__image(src=media.medialink_data.thumb)

        else if media.type === 'binary'
          .thumb.thumb__m-responsive
            .thumb__icon.icon.icon-binary
            .thumb__content= media.file_name
