- var own_page = (self.runtime.user_hid === self.user_hid)
- self.add_raw_data('profile_tab', own_page)

#content
  != self.partial('@common.blocks.breadcrumbs')

  .breadcrumbs
    if own_page
      a.btn.btn-default.btn-sm(href='#', data-media-id=self.media._id, data-user-hid=self.user_hid, data-album-id=self.media.album_id, data-on-click='users.media:delete')= self.t('delete')


  header.page-head.albums-head
    p.page-head__descr.hidden-xs(itemprop='description')

  - var imageUrl = self.link_to('core.gridfs', { 'bucket': self.media.file_id })
  img.user-media--large-photo(src=imageUrl)
  p= self.media.description
  p= self.date(self.media.created_at, 'date')

  div.row
    div.col-lg-6
      textarea
  div.row
    div.col-lg-6
      a Отправить
  div.row
    div.col-lg-6
      ul.user-media__comments
       each comment in self.comments
         - commentUser=self.users[comment.user_id]
           li
             div.row
               div.col-lg-12
                 span=comment.text
               div.row
                 div.col-lg-5
                   a= commentUser.name
                 div.col-lg-4
                   span= self.date(comment.created_at, 'date')
                 div.col-lg-1
                   a Edit
                 div.col-lg-1
                   a Delte
                 div.col-lg-1
                   a Complain
