- self.add_raw_data('about', self.about)

#content.user-settings-about
  - var navbar_args = { level_up: self.link_to('users.member', { user_hid: self.runtime.user_hid }) };
  != self.partial('@common.blocks.navbar.levelup_apps', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@users.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')

    .user-settings__tabs.nav.nav-tabs-underlined
      a.nav-link(href=self.link_to('users.settings.general'))= self.t('general')
      a.nav-link.active(href=self.link_to('users.settings.about'))= self.t('about')
      a.nav-link(href=self.link_to('users.settings.ignore'))= self.t('ignore')

    form.form.user-settings__tab-content.user-settings__m-narrow#user-settings-about(data-bind='submit: submit')

      each item in self.about
        - var name = item.name;

        .form-group.form-group-hover(data-bind='css: { "has-danger": about.#{name}.hasError }')

          if self.partial_exists('blocks.' + name)
            != self.partial('blocks.' + name, item)
          else
            label
              = self.t.exists(name) ? self.t(name) : self.t('@users.about.' + name)
            input.form-control(type='text', data-bind='value: about.#{name}.value, valueUpdate: "keyup", disable: about.#{name}.readonly')

          <!-- ko if: about.#{name}.help -->
          small.text-muted(data-bind='text: about.#{name}.help')
          <!-- /ko -->

      br
      button.btn.btn-primary(type='submit', data-bind='enable: isDirty() && !isSubmitting()')= self.t('submit')
